<div class="col-sm-6 col-sm-offset-3">
    <h4 class="info-text">Kontaktinformation</h4>
</div>

<br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label>Ihr Firmenname</label>
            <%= form.text_field :exporter_company_name, id: 'exporter_company_name', class: 'form-control' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label>Email adresse</label>
            <%= form.email_field :exporter_email, id: 'exporter_email', class: 'form-control' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label>Telefon</label>
            <%= form.text_field :exporter_telephone, id: 'exporter_telephone', class: 'form-control', :onkeypress => "return onlyAllowNumericalValueAndPlus(event)" %>
        </div>
    </div>
</div>

<div class="row">
    <br>
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <input type="checkbox" style="width: 20px; height: 20px;">
            <a target="_blank" rel="noopener noreferrer" href="/pages/termsAndConditions">
                Datenrechtschutzlinie </a>
            <br>
        </div>
    </div>
</div>
