<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3> Welcome to example.com, <%= @user.email %></h3>
<p>

  Hi <b><%= @user.email %></b>,

  Ihr Antrag wurde erfolgreich versendet und wird nun von HandEX in Kooperation mit Euler Hermes geprüft. Sie erhalten
  voraussichtlich eine Antwort in den nächsten zwei Wochen. Bei Rückfragen können Sie sich jederzeit an HandEX wenden,
  indem Sie uns eine Email senden an info@handex.co

  your username is: <%= @user.email %>.<br>
</p>
<p>
  To login to the site, just follow this link .
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>