<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>

</head>
<body>

<div class="container">

    <p>
        Guten Tag <%= @export_application.invitation_importer_representative_name %>

        <br><br>
        Ihr Exportpartner <%= @user.email %> hat Sie aufgefordert, sich bei HandEX zu registrieren und bestimmte Informationen einzugeben, die für eine Importanfrage erforderlich sind. HandEX ist Spezialist für Exportkredite und Exportkreditversicherungen.

        <br>
        Bitte klicken Sie auf den folgenden Link, um eine Bewerbung einzureichen
        <br>
        https://portal.handex.co/importer_informations/new
        <br><br>
        Bei Rückfragen können Sie sich jederzeit an HandEX wenden, indem Sie uns eine Email senden an info@handex.co

        <br><br>
    </p>

    <br>
    <hr>
    <br>

    <p style="margin:0; color:#333333; font-size:11px; line-height:18px;">
        Hamburg, Germany<br>
        Help &amp; Support Center: +4917623607530 <br>
        Website: <a href="https://www.handex.co" style="color:rgb(24, 110, 133); text-decoration:none; font-weight:bold;">www.handex.co</a>
    </p>

</div>

</body>
</html>