<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>

</head>
<body>

<div class="container">

    <p>
        Dear <%= @export_application.invitation_importer_representative_name %>

        <br><br>
        Your export partner <%= @export_application.invitation_importer_company_name %> has asked you to register with HandEX and to enter certain information required for export financing request. HandEX is a specialist in export credits and export credit insurance. HandEX is a specialist in export credits and export credit insurance.

        <br>
        Please click on the following link to submit an application
        <br>
        https://portal.handex.co/en/importer_informations/new
        <br><br>
        If you have any questions, you can always contact HandEX by sending an email to info@handex.co
        <br><br>
    </p>

    <br>
    <hr>
    <br>

    <p style="margin:0; color:#333333; font-size:11px; line-height:18px;">
        Hamburg, Germany<br>
        Help &amp; Support Center: +4917623607530 <br>
        Website: <a href="https://www.handex.co" style="color:rgb(24, 110, 133); text-decoration:none; font-weight:bold;">www.handex.co</a>
    </p>

</div>

</body>
</html>