<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>

</head>
<body>

<div class="container">

    <p>
        Dear <%= @export_application.invitation_importer_representative_name %>

        <br><br>
        Your supplier <%= @export_application.invitation_importer_company_name %> invites you to register at HandEX and provide information and documents related to your purchase. The purpose of this is to arrange the best possible payment terms and/or financing for you.

        <br>
        Click the following link to register and provide your data
        <br>
        https://portal.handex.co/en/importer_informations/new
        <br><br>
        In case of questions, please do not hesitate to contact us at info@handex.co.
        <br><br>
        Best regards <br>
        HandEX
        <br>

    </p>

    <br>
    <hr>
    <br>

    <p style="margin:0; color:#333333; font-size:11px; line-height:18px;">
        Hamburg, Germany<br>
        Help &amp; Support Center: +4917623607530 <br>
        Website: <a href="https://www.handex.co" style="color:rgb(24, 110, 133); text-decoration:none; font-weight:bold;">www.handex.co</a>
    </p>

</div>

</body>
</html>