<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>

</head>
<body>

<div class="container">
    
    <p>
        Guten Tag,
        <br><br>
        Bitte klicken Sie folgenden Link, um die Legitimation mittels Video-Identifizierung von WebID im Rahmen der Exportfinanzierung von HandEX abzuschließen:
        
        <br><br>
        https://www.......
        <br>
    
        Die persönliche Legitimation von Geschäftsführern und Wirtschaftlich Berechtigten ist vom deutschen Geldwäschegesetz vorgeschrieben.
        <br>
        Bei Fragen können Sie sich jederzeit an HandEX wenden unter Info@handex.co
        <br>
        
        Mit freundlichen Grüßen
        <br><br>
    </p>
    
    <br>
    <hr>
    <br>
    
    <p style="margin:0; color:#333333; font-size:11px; line-height:18px;">
        Hamburg, Germany<br>
        Help &amp; Support Center: +4917623607530 <br>
        Website: <a href="https://www.handex.co" style="color:rgb(24, 110, 133); text-decoration:none; font-weight:bold;">www.handex.co</a>
    </p>

</div>

</body>
</html>