<%= form_with(model: refinance, local: true) do |form| %>
  <% if refinance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(refinance.errors.count, "error") %> prohibited this refinance from being saved:</h2>

      <ul>
      <% refinance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
