<!-- step_5 start -->
<div class="step_2 tab" id="step_2">
    <!--   Form Navigation Section   -->
    <div class="row form-nav-top">
        <div class="col s12 m4">
            <div class="form-nav form-nav-percent">
                <p><span> 80% Fertig</span></p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="form-nav">
                <h2>Unterlagen</h2>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="form-nav right">
                <!--                                <a href="#">Entwurf speichern</a>-->
                <input class="btn handex-btn z-depth-0" type="submit" name="draft" value="Entwurf speichern">
                <%= form.submit class: 'btn handex-btn z-depth-0', value: t('application_submit') %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">

            <div class="form-content">
                <div class="input-field col s12 m12">
                    <label> <%= t('information_for_business_examination') %> </label>
                    <p> <%= t('information_for_business_examination_description') %> </p>
                </div>
            </div>
        </div>
    </div>
</div>