<div class="row">
  <% applications.each do |insurance| %>
    <%= render partial: "insurances/draft_application_listing_card",
               locals:  {insurance: insurance,
                        can_edit: can_edit} %>
  <% end %>
</div>