<div class="overview-top submitted">
  <div class="row">
    <div class="col s5 overview-top-icon">
      <%= link_to :back do %>
        <i class="material-icons">arrow_back</i>
      <% end %>
    </div>
    <div class="col s6 overview-top-icon">
      <div class="valign-wrapper">
        <i class="material-icons">timer</i>
        <div>
          <strong><%= t('application_sent') %></strong>
        </div>
      </div>
    </div>
  </div>
</div>