<!--<p id="notice"><%#= notice %></p>-->
<div class="container">

    <div class="col-md-3">
        <div class="panel">
            <ul class="sidebar-list">
                <!--        <li class="sidebar-item"><%#= link_to "Anträge in Bearbeitung", insurances_path, class: "sidebar-link" %></li>-->
                <li class="sidebar-item"><%= link_to t('submitted_application'), submitted_applications_insurance_path(current_user.id), class: "sidebar-link" %></li>
                <li class="sidebar-item"><%= link_to t('approved_application'), approved_applications_insurance_path(current_user.id), class: "sidebar-link active" %></li>
<!--                <li class="sidebar-item"><%#= link_to "OCR", new_document_path, class: "sidebar-link" %></li>-->
            </ul>
            <br/>
            <%= link_to t('new_application'), '/insurances', target: "_blank", class: 'text-center btn z-depth-0 handex-btn btn-blue' %>
        </div>
    </div>

    <div class="col-md-8">
        <%= render partial: "insurances/listing", locals: {applications: @approved_applications, can_edit: false} %>
    </div>
</div>