<!--<p id="notice"><%#= notice %></p>-->
<div class="container" align="center">
    <div class="row">
        <div class="wizard-container">
            <div class="card wizard-card" data-color="blue" id="wizard">

                <br> <br> <br>

                <div class="wizard-header">
                    <h4 class="wizard-title"><b> <%= t('desired_product') %> </b></h4>
                    <br><br>
                </div>

                <div class="row">
                    <div class="form-group">

                        <div class="col-sm-3 col-sm-offset-3">

                            <% if params[:locale] %>
                                <% @export_portal = 'insurances/new' %>
                            <% else %>
                                <% @export_portal = params[:locale].to_s + '/insurances/new' %>
                            <% end %>

                            <div class="choice" id="export-financing" data-toggle="wizard-checkbox" onclick="openExportPortal()">
                                <div class="card card-checkboxes card-hover-effect">
                                    <i class="ti-home"></i>
                                    <p> Sie füllen den Antrag für Ihren Kunden aus <br></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <% if params[:locale] %>
                                <% @import_portal = '/' + params[:locale].to_s + '/imports/new' %>
                            <% else %>
                                <% @import_portal = params[:locale].to_s + '/imports/new' %>
                            <% end %>

                            <div class="choice" id="import-financing" data-toggle="wizard-checkbox" onclick="openImportPortal()">
                                <div class="card card-checkboxes card-hover-effect">
                                    <i class="ti-package"></i>
                                    <p> hr Kunde wird zu HandEX eingeladen und füllt den Antrag selbst aus <br></p>
                                </div>
                            </div>
                        </div>

<!--                        <div class="col-sm-2">-->
<!--                            <div class="choice" id="forfaiting" data-toggle="wizard-checkbox" onclick="openExporterInsurancePortal()">-->
<!--                                <div class="card card-checkboxes">-->
<!--                                    <p><br></p>-->
<!--                                    <i class="ti-control-stop"></i>-->
<!--                                    <p><%#= t('export_credit_insurance') %><br> </p>-->
<!--                                    <p style="color: red"> Coming Soon </p> <br>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>

                <br><br><br>
                <br><br><br>
                <br><br><br>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function openExportPortal() {
        var export_portal = '<%= @export_portal %>';
        window.open(export_portal);
    }

    function openImportPortal() {
<!--        var import_portal = '<%= @import_portal %>';-->
<!--        window.open(import_portal);-->
    }

    function openExporterInsurancePortal() {
<!--        var export_portal = '<%= @export_portal %>';-->
<!--        window.open(export_portal);-->
    }

</script>