<div class="container" align="center">
  <p id="notice"><%= notice %></p>
  <h1 class="text-center">Summary</h1>
  <br>

  <div class="row">
    <hr>
    <h3>Ihr Geschaft</h3>
    <hr>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-justify">
        <%#= render "insurances/summary/user/geschaft.html.erb"%>
      </div>
    </div>
  </div>
</div>
