<p id="notice"><%= notice %></p>
<h1 class="text-center">Summary</h1>
<br>

<%# panel_names = ["important_first" , "finance", 'business', 'customer', 'important_at_end'] %>
<%# panel_headings = ["Das wichtigste zuerst" , "Ihre Finanzierung", 'Ihr Geschäft', 'Ihr Kunde', 'Notwendiges zum Schluss'] %>

<% panel_names    = [ "finance"] %>
<% panel_headings = [ "Ihre Finanzierung"] %>

<div class='row'>
  <% panel_names.zip(panel_headings).each do |panel_name, panel_title| %>
    <div class='col-md-8 col-md-offset-2 text-justify'>
      <div class="panel panel-default">

        <div class="panel-heading">
          <%= panel_title %>
        </div>

        <div class="panel-body">
          <%= form_with(model: @insurance, local: true, id: "customer-portal") do |form| %>
            <%= render partial: "insurances/summary/user/panels/#{panel_name}.html.erb", locals: {insurance: @insurance, form: form} %>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
</div>