<div class="col s12 m3">
    <div class="card">
        <div class="card-title approved_financing_application white-text valign-wrapper">
            <div class="valign-wrapper">
                <i class="custom_icon check-icon"></i>
                <div>
                    <strong>Antrag genehmigt</strong>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="valign-wrapper">
                <div>
                    <i class="custom_icon import-icon"></i>
                </div>
                <div>
                    <label for="output_importer">IMPORTEUR</label>
                    <p id="output_importer">Aafalot Ltd. & Co. Industrieausrüstung</p>
                </div>
            </div>
            <div class="valign-wrapper">
                <i class="custom_icon box-icon"></i>
                <div>
                    <label for="output_product">PRODUKT</label>
                    <p id="output_product">Textilmaschine</p>
                </div>
            </div>
            <div class="valign-wrapper">
                <i class="custom_icon money-icon"></i>
                <div>
                    <label for="output_value">AUFTRAGSWERT</label>
                    <p id="output_value">&euro; 240,000</p>
                </div>
            </div>
            <div class="valign-wrapper">
                <i class="custom_icon send-icon"></i>
                <div>
                    <label for="output_application_date">VERSENDET AM</label>
                    <p id="output_application_date">21. März 2019</p>
                </div>
            </div>
        </div>
        <div class="card-action center">
            <a href="#">Zusammenfassung Ansehen</a>
        </div>
    </div>
</div>