<div class="container">
  <div class="section" style="color:black;border-radius: 1em;padding: 1em;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">
    <div class="card-content center-align light-hint" style=" line-height:0.1">
      <i class="material-icons" style="color:#41bf93;font-size: 110px">assignment</i>
        <div class="title-text">
            <strong>
                <p class="no-application-text"> Keine Anträge</p>
            </strong>
        </div>
        <p style="font-size: 20px">Sie haben keine Finanzierung beantragen.</p>
      </div>
      <div class="card-action">
        <div class="col s12 center-align" style="line-height:5">
          <% if current_user.is_broker? %>
            <a class="btn-large z-depth-0 handex-btn btn-flat z-depth-0 validate white-text" href="/pages/invite_or_fill_yourself">Antrag starten</a>
          <% else %>
            <a class="btn-large z-depth-0 handex-btn btn-flat z-depth-0 validate white-text" href="/pages/products">Antrag starten</a>
          <% end %>
        </div>
      </div>

  </div>
</div>



