<div class="container">
    <div class="section no-application-section">
        <div class="card-content center-align light-hint" style="line-height:0.1">
            <i class="material-icons" style="color:#41bf93;font-size: 110px">assignment</i>

            <div class="title-text">
                <strong class="no-application-text">
                    <br><br><br>
                    Keine Anträge
                    <br><br><br>

                </strong>
            </div>
            <h6><%= t('no_applications_available') %></h6>
        </div>
        <div class="card-action">
            <div class="col s12 center-align" style="line-height:5">
                <% if current_user.user_type == 3 %>
                    <a class="btn-large z-depth-0 handex-btn-positiv btn-flat z-depth-0 validate white-text" href="<%= pages_products_path %>">Antrag starten</a>
                    <a class="btn-large z-depth-0 handex-btn btn-flat z-depth-0 validate white-text" href="<%= new_invite_exporter_path %>">Kunden einladen</a>
                <% else %>
                    <a class="btn-large z-depth-0 handex-btn btn-flat z-depth-0 validate white-text" href="<%= pages_products_path %>">Antrag starten</a>
                <% end %>
            </div>
        </div>
    </div>
</div>



