<% if @attachments.count > 0 %>
    <br/><br/>

    <div class="row">
        <% @attachments.each do |attachment| %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading preview">
                        <%= image_tag attachment.image.url() %>
                    </div>

                    <div class="panel-body">
                        <span class="pull-right">
                            <%= link_to invoice_attachment_path(attachment.invoice_id, attachment), remote: true, method: :delete, data: {confirm: "Are you sure"} do %>
                                   <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                            <% end %>
                        </span>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

<% end %>