<tr class="nested-fields">

    <td>
        <div> <%= f.text_field :payment_relevant_information, class: "validate", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
    </td>

    <td>
        <%= f.text_field :payment_relevant_milestone, id: "start_date", autofocus: true, type: "date", class: "datepicker", placeholder: "z.B. Milestone xy" %>
    </td>

    <td>
        <%= link_to_remove_association "Löschen", f, class: 'btn btn-primary btn-xs' %>
    </td>

</tr>