<br>

<div class="head">
    <h4>STRAIGHT BILL OF LADING</h4>
</div>
<br><br>

<table class='table table-bordered'>
    <tr>
        <th>SHIPPER NAME</th>
        <th>SHIPPER ADDRESS</th>
        <th>SHIPPER CITY</th>
        <th>SHIPPER STATE</th>
    </tr>
    <tr>
        <td> Great Export Ltd</td>
        <td> Eggerstedtstrasse 26</td>
        <td> Hamburg </td>
        <td> 22765</td>
    </tr>
</table>


<table class='table table-bordered'>
    <tr>
        <th>CONSIGNEE NAME</th>
        <th>CONSIGNEE ADDRESS</th>
        <th>CONSIGNEE CITY</th>
        <th>CONSIGNEE STATE</th>
    </tr>
    <tr>
        <td> Great Importer AG </td>
        <td> Berliner Strasse </td>
        <td> Berlin </td>
        <td> Germany</td>
    </tr>
</table>

<table class='table table-border'>
    <tr>
        <th>SHIP DATE</th>
        <th>SHIPPER REFERENCE #</th>
        <th>POs</th>
        <th>BOL#</th>
        <th>DUE DATE</th>
        <th>CARRIER</th>
        <th>CARRIER PRO #</th>
    </tr>

    <tr>
        <td> 2018-12-12 </td>
        <td> 123 </td>
        <td> 123 </td>
        <td> 123 </td>
        <td> 123 </td>
        <td> Maersk </td>
        <td> 123</td>
    </tr>
</table>

<table class='text table table-bordered'>
    <tr>
        <th></th>
        <th>PIECES</th>
        <th>DESCRIPTION</th>
        <th>WEIGHT</th>
        <th>CLASS</th>
        <th>NMFC#</th>
        <th>HAZMAT?</th>

    </tr>
    <tr>
        </td>
        <td></td>
        <td> Cotton Blankets </td>
        <td> The best cotton </td>
        <td> 5kg </td>
        <td> 1234 </td>
        <td> 1234 </td>
        <td> 1234 </td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>TOTALS</td>
        <td> 10 </td>
        <td></td>
        <td> 50 kgs</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


</table>

<table class='table table-bordered'>
    <tr>
        <th><label>COMMENTS</label></th>
    </tr>
    <tr>
        <td><textarea name="" id="" cols="100" rows="10"></textarea></td>
    </tr>

</table>


<table class='table table-bordered'>
    <tr>
        <th>SHIPPER SIGNATURE</th>
        <th>DATE</th>
        <th>TRAILER #</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <th>DRIVER SIGNATURE</th>
        <th>DATE</th>
        <th>SEAL #</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>
<br/>
