<h4 class="info-text" style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;" >Ihr Kunde</h4>

<div class="row">
    <div class="form-group">
        <div class="row">
            <br>
            <div class="col-md-5 col-md-offset-1">
                <p><b>Bitte geben Sie die Adresse Ihres Kunden an</b></p>
            </div>
        </div>
        <div class="row">
            <br>

            <div class="col-md-3 col-md-offset-1">
                <p> Firmenname </p>
                <div> <%= form.text_field :description, class: "form-control" %> </div>
            </div>

            <div class="col-md-3">
                <p> Straße / Hausnummer </p>
                <%= form.text_field :description, class: "form-control" %>
            </div>

            <div class="col-md-3">
                <p> PLZ </p>
                <%= form.text_field :description, class: "form-control" %>
            </div>

        </div>
    </div>
</div>