<br><br><br>
<div class="row">
    <div class="col-sm-6">
        <p style="color: #00bbff"><b> Goods Description </b></p>
    </div>

    <div class="col-sm-3">
        <p style="color: #00bbff"><b> Last Date of Shipment </b></p>
        <p><b> Nov 30, 2016 </b></p>

    </div>

    <div class="col-sm-3">
        <p style="color: #00bbff"><b> Purchase Price </b></p>
        <p><b> 118,715.00 US Dollar </b></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <table style="width:100%">
            <tr>
                <th>Desciption</th>
                <th>Unit Price</th>
                <th>Quantaty</th>
                <th>Total Price</th>
            </tr>
            <tr>
                <td>50839 Cotton Blankets</td>
                <td>2.65 USD</td>
                <td>25000</td>
                <td>66,250.00 USD</td>
            </tr>
            <tr>
                <td>50829 Cashmere Blankets</td>
                <td>5.75 USD</td>
                <td>10000</td>
                <td>57,500.00 USD</td>
            </tr>
        </table>
    </div>
</div>

<br><hr>

<div class="form-group">
    <div class="row">
        <div class="col-md-10 ">

            <h4><b> Select Components </b></h4>

            <p> HandEX provies several components to help aid with your transaction, these range from guarantees, to financing, please choose whether you wish to use them </p>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <p><b> Insurance & Payment Term Fee </b></p>
            <p> Annual Interest 5 %</p>
        </div>

        <div class="col-md-3">
            <%= form.select :desciption, options_for_select(["30 days", "60 days", "90 days", "120 days"]), {}, class: "form-control" %>
        </div>

        <div class="col-md-1 col-md-offset-2">
            <p><b> 0,83%</b></p>
        </div>

    </div>
</div>

<hr>

<div class="form-group">
    <div class="row">
        <div class="col-md-3 col-md-offset-4 ">
            <p> Total Payable Amount</p>
        </div>

        <div class="col-md-1  col-md-offset-2">
            <p><b> 0,83%</b></p>
        </div>

    </div>
</div>

<br><br><br>


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }
</style>