<br><br><br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p style="color: #00bbff"><b>Transaction Agreement </b></p>
    </div>
</div>
<hr>

<div class="col-sm-10 col-sm-offset-1">
    <p>between
        <br><br>
        <b> Great Export Ltd </b> Eggerstedtstrasse 26, 22765, Hamburg

        <br>
        - hereinafter referred to as the <b> "Seller" </b> - <br>
        <br>
        and
        <br><br>

        <b> Great Importer AG </b>

        <br>

        Great importer AG, Berlin Germany
        <br>
        - hereinafter referred to as the <b> "Buyer" </b>
        <br>
        - Seller and Buyer rherinafter each reffered as a <b>"Party"</b> and jointly reffered to as the <b>"Parties"</b>
    </p>

    <br><br>
    <p>
        <b> Preamble </b>
        <br>
        A) The Parties intend to agree on the delivery of goods from Seller to Buyer by using transaction booking and handling services
        from HandEX GmbH, (hereinafter referred to as <b>"HandEX" </b>; the transaction booking and handling services hereinafter referred to as the
        <b>"Trading Platform"</b>

    </p>

<br><br><br>
</div>