<!--<p id="notice"><%#= notice %></p>-->
<div class="container" align="center">
    <div class="row">
        <div class="wizard-container">
            <div class="card wizard-card" data-color="blue" id="wizard">

                <br> <br> <br>

                <div class="wizard-header">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p> Bitte füllen Sie hier die Kontaktdaten Ihres Kunden ein. Ihr Kunde erhält per Email eine Einladung zu unserem Portal und kann sich selbst registrieren und wird danach
                            direkt
                            in die Antragsstrecke des von Ihnen ausgewählten Produktes geleitet. Bitte stellen Sie sicher, dass Sie die Erlabunis haben die Kontaktdaten Ihres Kunden an HandEX
                            weiterzugeben. </p>
                        <br><br>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <p> Firmenname </p>
                    <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email"/>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <br>
                    <p> Kontaktperson </p>
                    <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email"/>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <br>
                    <p> Email </p>
                    <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email"/>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <br>
                    <p> Telefonnummer </p>
                    <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email"/>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <br><br>
                    <div class="actions">
                        <input onclick="window.location.href = '/pages/contactedExporter';" type="submit" name="commit" value="Submit" class="btn btn-blue btn-block"  />
                        <br><br>
                    </div>
                </div>

                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>

            </div>
        </div>
    </div>
</div>