<!--<p id="notice"><%#= notice %></p>-->
<div class="container" align="center" style="background-color: white">

    <br> <br> <br>

    <div class="col-sm-8 col-sm-offset-2">
        <p>Auf den nächsten Seiten können Sie einen Antrag auf Exportfinanzierung bzw. Exportkreditversicherung für einen Ihrer Kunden stellen. Die Antragsstrecke ist so formuliert, als ob Sie den
            Antrag aus Sicht Ihres exportierenden Kunden stellen. Bei Rückfragen können Sie uns jederzeit kontaktieren. Gerne begleiten wir Sie auch per Webinar bei Antragstellung.</p>
        <br><br>
    </div>

    <div class="col-md-4 col-md-offset-4">
        <br><br>
        <div class="actions">
            <input onclick="window.location.href = '/insurances/new';" type="submit" value="Weiter" class="btn btn-blue btn-block"/>
            <br><br>
        </div>
    </div>

    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
</div>