<%= render 'shared/navbar' %>

<div class="container valign-wrapper">
  <div class="section">
        <div class="card medium choice-card big-choice-card">
          <div class="card-title valign-wrapper">
            <%= image_tag "handex-logo.png" %>
            <div class="title-text">
              <strong>Finanzierung für eine bereits vorhandene Euler Hermes Versicherung beantragen</strong>
            </div>
          </div>
          <div class="card-content center-align light-hint">
            <p>Auf den nächsten Seiten können Sie einen Antrag auf Exportfinanzierung für einen Ihrer Kunden stellen, die bereits über eine Versicherung Verfügt. Die Antragsstrecke ist so
              formuliert, als ob Sie den
              Antrag aus Sicht Ihres exportierenden Kunden stellen. Bei Rückfragen können Sie uns jederzeit
              kontaktieren. Gerne begleiten wir Sie auch per Webinar bei
              Antragstellung.</p>
          </div>
          <div class="card-action">
            <div class="col s12 center-align">
              <a href="<%= new_credit_path %>" class="btn-large z-depth-0 handex-btn btn-flat z-depth-0 validate white-text" name="action">Weiter zum Antrag</a>
            </div>
          </div>
        </div>
  </div>
</div>