<div class="container" align="center">


    <br><br><br>
    <h2>
        Ihr Antrag wurde erfolgreich versendet !!!
    </h2>

    <br><br><br>
    <br><br><br>

    <p>
        Ihr Antrag wurde erfolgreich versendet und wird nun von HandEX in Kooperation mit Euler Hermes geprüft.
        Sie erhalten voraussichtlich eine Antwort in den nächsten zwei Wochen.
        Bei Rückfragen können Sie sich jederzeit an HandEX wenden, indem Sie uns eine Email senden an info@handex.co
    </p>
</div>
