<%= render 'shared/navbar' %>

<div class="container">
    <div class="section">
        <div class="valign-wrapper">
            <i class="material-icons left">schedule</i>
            <div>
                <strong>Antrag versendet</strong>
            </div>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</div>