<%= render 'shared/navbar' %>

<nav class="grey lighten-2 z-depth-0">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"> <img style="height: 45px; vertical-align: middle;" src="/assets/HandEX_logo4.png" alt=""></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="badges.html"><i class="material-icons">account_circle</i></a></li>
            <li><a href="sass.html"><i class="material-icons">add_alert</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">settings</i></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="section">
        <div class="valign-wrapper">
            <i class="material-icons left">schedule</i>
            <div>
                <strong>Antrag versendet</strong>
            </div>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</div>