<div class="container-fluid">
    <div class="section">
        
        <div class="sidebar">
            <a class="active" href="#home">All Documents</a>
            <a href="#liefervertrag">Liefervertrag</a>
            <a href="#jahresabschluss">Jahresabschluss</a>
        </div>
        
        <div class="form-section z-depth-1 handex_form_section">
            <div class="row">
                
                <div class="col s4 offset-s2">
                    <div class="row">
                        <br>
                        <form action="#">
                            <div class="file-field input-field">
                                
                                <div class="btn">
                                    <span> Dokument hochladen</span>
                                    <input id="liefervertrag_file" type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate"
                                           id="generic_application_liefervertrag_file"
                                           type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col s10 offset-s2 no-padding">
                    
                    <div id="liefervertrag">
                        <nav class="nav-extended">
                            <div class="nav-content">
                                <ul class="tabs tabs-transparent">
                                    <li class="tab handex_side_tab">
                                        <a onclick="openDocument()">Document</a>
                                    </li>
                                    <li class="tab handex_side_tab">
                                        <a onclick="openTranslatedDocuments()" >Translated Document</a>
                                    </li>
                                    <li class="tab handex_side_tab">
                                        <a  onclick="openExtractedInformation()" >Extracted Information</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    
                    <div class="col s12" id="documentDisplay" style="display: none">
    
                        <img src="https://www.investopedia.com/thmb/2ojo7SyRapAmPZkLSMdNlY3-Lwk=/908x822/filters:no_upscale():max_bytes(150000):strip_icc()/exxonIS09-30-2018-5c5dc83c46e0fb00017dd129.jpg"
                             alt="FinancialStatement" />
                    </div>
                    
                    <div class="col s12" id="translateDocument" style="display: none">
                        <img src="https://www.ifrsbox.com/wp-content/uploads/ForeignSubsidiaryExample.png"
                             alt="TranslatedFinancialStatement" />
                        
                    </div>
                    
                    <div class="col s12 no-padding" id="extractedInformation" style="display: none">
                        
                        <br>
                        <nav class="nav-extended">
                            <div class="nav-content">
                                <ul class="tabs tabs-transparent">
                                    <li class="tab handex_side_tab">
                                        <a onclick="basicInformation()">Basic Information</a>
                                    </li>
                                    <li class="tab handex_side_tab">
                                        <a onclick="financialAndAccounting()">Financial & Accounting</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        
                        <div class="col s12" id="basicInformation" style="display: none">
                            <div class="row">
                                <form class="col s12">
                                    <br><br>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input class="validate" id="first_name" type="text">
                                            <label class="" for="first_name">Purchaser Name (importer) </label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input class="validate" id="last_name" type="text">
                                            <label class="" for="last_name">Seller Name (exporter)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input class="validate" id="first_name" type="text">
                                            <label class="" for="first_name">Recipient Name </label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input class="validate" id="last_name" type="text">
                                            <label for="last_name">P.O. Number </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input class="validate" id="first_name" type="text">
                                            <label for="first_name">Seller Full Address </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input class="validate" id="first_name" type="text">
                                            <label for="first_name">Recipient Full Address</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input class="validate" id="last_name" type="text">
                                            <label for="last_name">Purchaser Full Address</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input class="validate" id="first_name" type="text">
                                            <label for="first_name">Seller Address</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input class="validate" id="last_name" type="text">
                                            <label for="last_name">Recipient Phone Number</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input class="validate" id="first_name" type="text">
                                            <label for="first_name">Seller Phone Number </label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input class="validate" id="last_name" type="text">
                                            <label for="last_name">Purchaser Phone Number</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="col s12" id="financialAndAccounting" style="display: none">
                            <div class="row">
                                <form class="col s12">
                                    <br><br>
    
                                    <div class="col s5">
                                        <table>
                                        <tr>
                                            <th></th>
                                            <th>2017</th>
                                            <th>2018</th>
                                        </tr>
                                        <tr>
                                            <td>Revenue</td>
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>
                                        <tr>
                                            <td>EBIT</td>
                                            <td> - </td>
                                            <td> -</td>
                                        </tr>
                                        <tr>
                                            <td>EBITDA</td>
                                            <td> - </td>
                                            <td> -</td>
                                        </tr>
                                        <tr>
                                            <td>Net Income</td>
                                            <td> - </td>
                                            <td> -</td>
                                        </tr>
                                        <tr>
                                            <td>Operational Cashflow</td>
                                            <td> - </td>
                                            <td> -</td>
                                        </tr>
                                        <tr>
                                            <td>Investing Cashflow</td>
                                            <td> - </td>
                                            <td> -</td>
                                        </tr>
                                        <tr>
                                            <td>Financial Obligation</td>
                                            <td> - </td>
                                            <td> -</td>
                                        </tr>
                                        <tr>
                                            <td>Cash</td>
                                            <td> - </td>
                                            <td> -</td>
                                        </tr>
                                    </table>
                                    </div>
    
                                    <div class="col s5">
                                        <table>
                                            <tr>
                                                <th>Key Ratios</th>
                                                <th>2017</th>
                                                <th>2018</th>
                                            </tr>
                                            <tr>
                                                <td>Netdebt</td>
                                                <td> - </td>
                                                <td> - </td>
                                            </tr>
                                            <tr>
                                                <td>Netdebt/EBITDA </td>
                                                <td> - </td>
                                                <td> -</td>
                                            </tr>
                                            <tr>
                                                <td>FCF</td>
                                                <td> - </td>
                                                <td> -</td>
                                            </tr>
                                            <tr>
                                                <td>Interest Coverage</td>
                                                <td> - </td>
                                                <td> -</td>
                                            </tr>
                                            <tr>
                                                <td>Sales Growth</td>
                                                <td> - </td>
                                                <td> -</td>
                                            </tr>
                                            <tr>
                                                <td>Debt/Equity</td>
                                                <td> - </td>
                                                <td> -</td>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                    <div class="col s2">
    
                                        <table>
                                        <tr>
                                            <th> Credit Score</th>
                                            <th> Rating </th>
                                        </tr>
                                        <tr>
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>
                                        </table>
                                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openDocument() {
        var x = document.getElementById("documentDisplay");
        var y = document.getElementById("translateDocument");
        var z = document.getElementById("extractedInformation");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        }
    }

    function openTranslatedDocuments() {
        var x = document.getElementById("documentDisplay");
        var y = document.getElementById("translateDocument");
        var z = document.getElementById("extractedInformation");
        if (y.style.display === "none") {
            x.style.display = "none";
            y.style.display = "block";
            z.style.display = "none";
        }
    }

    function openExtractedInformation() {
        var x = document.getElementById("documentDisplay");
        var y = document.getElementById("translateDocument");
        var z = document.getElementById("extractedInformation");
        var a = document.getElementById("basicInformation");
        if (z.style.display === "none") {
            x.style.display = "none";
            y.style.display = "none";
            z.style.display = "block";
            a.style.display = "block";
        }
    }

    function basicInformation() {
        var x = document.getElementById("basicInformation");
        var y = document.getElementById("financialAndAccounting");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        }
    }

    function financialAndAccounting() {
        var x = document.getElementById("basicInformation");
        var y = document.getElementById("financialAndAccounting");
        if (y.style.display === "none") {
            x.style.display = "none";
            y.style.display = "block";
        }
    }

</script>