<div class="container" align="center">

    <br><br><br>
    <h2> Wir haben eine Einladung an Ihren Kunden gesendet </h2>

    <br><br><br>

    <p> Sobald Ihr Kunde sich mittels des versendeten Links auf HandEX registriert hat, erhalten Sie eine Bestätigung und der Kunde wird für die Abrechnung Ihrer Provision Ihnen zugeordnet. Ihre registrierten Kunden können Sie in Ihrem Account einsehen.</p>
</div>
