<%= render 'shared/navbar' %>

<div class="container valign-wrapper">
    <div class="section">
        <div class="card choice-card big-choice-card">
            <div class="card-title valign-wrapper">
                <%= image_tag "handex-logo.png" %>
                <div class="title-text">
                    <h4>Wir haben eine Einladung an Ihren Kunden gesendet</h4>
                </div>
            </div>
            <div class="card-content center-align light-hint">
                <p>Sobald Ihr Kunde sich mittels des versendeten Links auf HandEX registriert hat, erhalten Sie eine
                    Bestätigung und der Kunde wird für die Abrechnung Ihrer Provision Ihnen</p>
            </div>
            <div class="card-action big-card-action">
                <div class="col s12">
                    <div class="form-content">
                        <div class="row">
                            <div class="input-field col s12 center-align">
                                <a href="<%= invite_exporters_user_path(current_user.id) %>" class="btn-large z-depth-0 handex-btn btn-flat z-depth-0 validate white-text" name="action">Weiter </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>