<%= render 'shared/navbar' %>

<div class="container valign-wrapper">
    <div class="section">
        <div class="card choice-card big-choice-card">
            <div class="card-title valign-wrapper">
                <%= image_tag "handex-logo.png" %>
                <div class="title-text">
                    <h4> Vielen Dank für die Einreichung der Unterlagen </h4>
                </div>
            </div>
            <div class="card-content center-align light-hint">
                <p> Wir füllen den Antrag anhand dieser Dokumente für Sie vor und ein Vertreter von handex wird Sie innerhalb von 24 Stunden mit weiteren Informationen kontaktieren </p>
            </div>
        </div>
    </div>
</div>