<br>

<div class="container">


    <h2 align="center"> BESONDERE ERKLÄRUNGEN ZUM ANTRAG </h2>

    <br><br>
    <h3>Gebühren und Entgelte </h3>

    <p> Wir verpflichten uns, für die Bearbeitung des Antrags und für die Übernahme der beantragten
        Exportkreditgarantien
        die jeweils anfallenden Gebühren und Entgelte zu entrichten, deren Berechnung aufgrund der vom Bundesministerium
        für
        Wirtschaft und Energie festgelegten Sätze erfolgt.

        Uns ist bekannt, dass die Antragsgebühr bereits bei Stellung des Antrags fällig wird und unabhängig von einer
        Entscheidung der Bundesrepublik Deutschland über die Übernahme einer Exportkreditgarantie zu bezahlen ist. Wir
        erkennen für alle Rechtsstreitigkeiten in Zusammenhang mit der Antragsgebühr die Zuständigkeit der ordentlichen
        Gerichte in Hamburg an. Bei amtsgerichtlichen Streitigkeiten ist das Amtsgericht in Hamburg-Altona örtlich
        zuständig.

        Sofern eine Exportkreditgarantie für einen gebundenen Finanzkredit zur Finanzierung unseres Ausfuhrgeschäftes
        beantragt und übernommen wird, erstreckt sich unsere Zahlungsverpflichtung auch auf das insoweit anfallende
        Entgelt.
        Die Antragsgebühr für den gebundenen Finanzkredit entfällt in der bereits entrichteten Höhe. Wird die
        Exportkreditgarantie für den gebundenen Finanzkredit in Fremdwährung übernommen, haften wir für den hierfür in
        Fremdwährung erhobenen Entgeltbetrag.

        Bei der Erstattung von Entgelt, das Gegenstand gesamtschuldnerischer Haftung war, wirkt die Auszahlung an einen
        Gesamtschuldner auch für und gegen den anderen Gesamtschuldner. Werden die in Rechnung gestellten Entgelte bei
        Fälligkeit nicht entrichtet, wird mit der zweiten Mahnung neben dem angemahnten Betrag eine
        Verzugskostenpauschale
        (Mahngebühr) von EUR 10,-- und mit der dritten Mahnung eine Verzugskostenpauschale von EUR 15,-- erhoben. Die
        Geltendmachung von Verzugszinsen bleibt vorbehalten. </p>

    <br><br>
    <h3> Richtlinien, Konsultations- und Notifikationsverfahren </h3>

    <p> Die Entscheidung über diesen Antrag erfolgt nach Maßgabe der vom Bundesministerium für Wirtschaft und Energie
        erlassenen Richtlinien für die Übernahme von Exportkreditgarantien vom 04.06.2014. Einem eventuell notwendig
        werdenden EU-Konsultations- und/oder OECDNotifikationsverfahren stimmen wir zu. </p>

    <br><br>
    <h3> Verantwortlichkeit für den Antrag </h3>

    <p> Die beantragte Exportkreditgarantie wird aufgrund der in diesem Antrag oder in sonstiger Weise erfragten Angaben
        übernommen. Änderungen oder Ergänzungen gegenüber den bei Antragstellung erfolgten Angaben werden wir
        unverzüglich
        mitteilen.

        Uns ist bekannt, dass eine unrichtige oder unvollständige Beantwortung der Fragen oder eine unterlassene
        Berichtigung der Angaben den Bund berechtigen kann , die Übernahme der Exportkreditgarantie abzulehnen oder sich
        bei
        übernommener Exportkreditgarantie von seiner Verpflichtung zur Entschädigung zu befreien. </p>

    <br><br>
    <h3> Veröffentlichung von Projektdaten </h3>

    <p> Uns ist bekannt, dass das Bundesministerium für Wirtschaft und Energie im Falle eines Auskunftsbegehrens gemäß
        den
        gesetzlichen Vorgaben (Gesetz zur Regelung des Zugangs zu Informationen des Bundes (Informationsfreiheitsgesetz
        –
        IFG), Umweltinformationsgesetz - UIG, Presserecht und Fragerecht der Mitglieder des Deutschen Bundestages) ggf.
        auch
        ohne unser Einverständnis gemäß Ziffer 4. zur Veröffentlichung von Angaben zu unserem Projekt zur Herausgabe von
        Informationen verpflichtet ist, soweit dem keine berechtigten Verweigerungsgründe entgegenstehen. Grundsätzlich
        sind
        Informationen zu unserem Projekt, die Betriebs- und Geschäftsgeheimnisse darstellen, vor einer Herausgabe
        geschützt. </p>

    <br><br>
    <h3> OECD-Leitsätze für multinationale Unternehmen </h3>

    <p>Im Zusammenhang mit dem vorliegenden Antrag wird auf die OECD-Leitsätze für multinationale Unternehmen aufmerksam
        gemacht, die bereits 1976 verabschiedet und zuletzt 2011 von den Regierungen der OECD-Mitgliedsstaaten zusammen
        mit
        Unternehmens- und Arbeitnehmerverbänden sowie Nichtregierungsorganisationen überarbeitet wurden. Neben den
        OECD-Mitgliedsländern haben zahlreiche weitere Länder die Leitsätze unterzeichnet. Die OECD-Leitsätze stellen
        Empfehlungen der Regierungen für ein verantwortungsvolles und dem geltenden Recht entsprechendes
        unternehmerisches
        Verhalten bei Auslandsaktivitäten dar. Die Bundesregierung erwartet von in und aus Deutschland operierenden
        Unternehmen, dass sie die OECD-Leitsätze bei ihrer grenzüberschreitenden Geschäftstätigkeit unter
        Berücksichtigung
        der besonderen Gegebenheiten des jeweiligen Gastlandes beachten.

        Die OECD-Leitsätze für multinationale Unternehmen können im Internet unter

        <a target="_blank" rel="noopener noreferrer" href="http://www.oecd-ilibrary.org/governance/oecd-leitsatze-fur-multinationale-unternehmen_9789264122352-de">
            oecd-leitsatze-fur-multinationale-unternehmen_9789264122352-de </a> abgerufen
        werden. </p>

    <br><br>
    <h3>UN-Leitprinzipien für Wirtschaft und Menschenrechte </h3>

    <p>Darüber hinaus wird auf die UN-Leitprinzipien für Wirtschaft und Menschenrechte (UNLP) verwiesen , die als global
        anerkannter Rahmen für die staatliche Schutzpflicht und die Verantwortung von Unternehmen in Bezug auf
        Wirtschaft
        und Menschenrechte 2011 von allen Mitgliedstaaten der UN einstimmig angenommen wurden. Zentrales Element ist die
        darin verankerte Sorgfaltspflicht von Unternehmen , Menschenrechte in ihren Liefer- und Wertschöpfungsketten zu
        achten. Die Bundesregierung hat sich zur Umsetzung der UNLP in Deutschland bekannt und am 21. Dezember 2016 den
        Nationalen Aktionsplan Wirtschaft und Menschenrechte verabschiedet. Die Berücksichtigung von Menschenrechten
        nimmt
        auch einen hohen Stellenwert in der Außenwirtschaftsförderung ein.

        Die UNLP können im Internet unter
        <a target="_blank" rel="noopener noreferrer" href="https://www.auswaertiges-amt.de/blob/266624/b51c16faf1b3424d7efa060e8aaa8130/un-leitprinzipien-de-data.pdf">
            un-leitprinzipien-de-data.pd </a>  und der Nationale Aktionsplan unter

    <a target="_blank" rel="noopener noreferrer" href="https://www.auswaertiges-amt.de/blob/297434/8d6ab29982767d5a31d2e85464461565/nap-wirtschaft-menschenrechte-data.pdf">
        nap-wirtschaft-menschenrechte-data.pdf </a>  aufgerufen werden. </p>


</div>