<!-- Start Header Area -->
<header class="landing-header">
    <div class="sticky-header">
        <div class="container">
            <div class="header-content">
                <div class="right-bar align-items-center">
                    <div class="header-dynamize">
                        <div class="row">
                            <div class="col-lg-3 col-sm-3">
                                <div class="logo">
                                    <a href="#top" class="smooth"><%= image_tag "HandEX_logo7.png", style: 'height:4.5em;width:auto;' %></a>
                                </div>
                            </div>

                            <div class="col-lg-9 col-sm-9">
                                <nav class="align-items-center">
                                    <ul class="main-menu">
                                        <a href="#top">Home</a>
                                        <a href="#services">Ihre Vorteile</a>
                                        <a href="#team">So funktioniert</a>
                                        <a href="#footer">Kontakt</a>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area-one">
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center vertical-align">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-content text-background">
                    <h1 class="text"> Exportfinanzierung leicht gemacht. </h1>

                    <p class="text-black"> Wir suchen die passende Exportfinanzierung und Exportversicherung für
                        Sie. </p>
                    <br>
                    <p class="text-black"> Ihre Online-Bewerbung ist für Sie schnell
                        und kostenlos. </p>
                    <br><br>
                    <p class="text-black"> Leichter geht's nicht. </P>
                    <br>

                    <br><br>
                    <div class="row">

                        <div class="col-md-2 col-sm-2 col-xs-2 ">
                            <h4><u> <a href="#services"> Mehr Erfahren </a> </u></h4>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <% if (!user_signed_in?) %>
                                <a href="/registration" class="primary-btn banner-btn-kunden h9"> Direkt Anfragen </a>
                            <% else %>
                                <a href="/listings/new?" class="primary-btn banner-btn-kunden h9"> Direkt Anfragen </a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<div class="banner-area-two">
    <br><br><br>
    <section id="services">

        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center vertical-align">
                <div class="banner-content">
                    <div class="col-md-12">

                        <div class="col-md-8">
                            <h2 class="text-uppercase"> Das sind Ihre Vorteile</h2>
                            <br><br><br>

                            <div class="benefitsfancy">
                                <div class="row">
                                    <div class="col-md-2 mt-10">
                                        <p style="color:#0065ae">Schnell</p>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="vl"></div>
                                    </div>

                                    <div class="col-md-9">
                                        <p class="text-black"> Sie erhalten in 48 Stunden Zugang zu einer größeren
                                            Auswahl an passgenauen Finanzierungsangeboten. Sie können sich daraus die
                                            für Sie attraktivsten Angebote auswählen.
                                        </p>
                                    </div>
                                </div>
                                <br><br><br>

                                <div class="row">
                                    <div class="col-md-9">
                                        <p class="text-black"> Wir sind keine Finanzinstitution, sondern ein völlig
                                            neutraler und unabhängiger Vermittler zwischen der deutschen
                                            Exportwirtschaft und der Bankenwelt, der sich vor allem mehr Transparenz und
                                            Wettbewerb in diesem Bereich wünscht.
                                        </p>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="vl"></div>
                                    </div>

                                    <div class="col-md-2 mt-10">
                                        <p style="color:#0065ae">Transparenz</p>
                                    </div>
                                </div>
                                <br><br><br>

                                <div class="row">
                                    <div class="col-md-2 mt-10">
                                        <p style="color:#0065ae">Kostenlos</p>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="vl"></div>
                                    </div>

                                    <div class="col-md-9">
                                        <p class="text-black"> Für Sie als Exportunternehmen ist die Nutzung des HandEX
                                            Portals völlig
                                            kostenlos. Die
                                            Finanzierungspartner leisten einen Kostenbeitrag. Sie profitieren von dem
                                            neuen
                                            digitalen
                                            und
                                            effizienten Vertriebskanal.
                                        </p>
                                    </div>
                                </div>
                                <br><br><br>

                                <div class="row">
                                    <div class="col-md-9">
                                        <p class="text-black"> Bei HandEX liegen Ihnen die Angebote der Banken nach
                                            Sekunden vor. Suchanfragen
                                            können Sie 7
                                            Tage
                                            die Woche rund um die Uhr und ortsunabhängig stellen.
                                        </p>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="vl"></div>
                                    </div>

                                    <div class="col-md-2 mt-10">
                                        <p style="color:#0065ae">Einfach</p>
                                    </div>
                                </div>
                                <br><br><br>

                                <div class="row">
                                    <div class="col-md-2 mt-10">
                                        <p style="color:#0065ae">Professionell</p>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="vl"></div>
                                    </div>

                                    <div class="col-md-9">
                                        <p class="text-black"> Die von uns genutzten Server stehen in Deutschland. Der
                                            Datenaustausch mit dem
                                            Portal erfolgt
                                            hoch verschlüsselt.
                                        </p>
                                    </div>
                                </div>
                                <br><br><br>

                                <div class="row">
                                    <div class="col-md-9">
                                        <p class="text-black"> HandEX arbeitet nur mit in der DACH-Region ansässigen
                                            Banken zusammen, die von
                                            der
                                            nationalen/europäischen Bankenaufsicht kontrolliert werden.
                                        </p>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="vl"></div>
                                    </div>

                                    <div class="col-md-2 mt-10">
                                        <p style="color:#0065ae">Sicher</p>
                                    </div>
                                </div>
                            </div>

                            <div class="benefits">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <ul class="text-black">
                                        <br>
                                        <li><b>Schnell</b> Sie erhalten in 48 Stunden schnelleren Zugang zu einer
                                            größeren Auswahl an passgenauen Finanzierungsangeboten. Sie Sie können sich
                                            daraus die für Sie attraktivsten Angebote auswählen.
                                        </li>
                                        <br><br>
                                        <li><b>Transparenz</b> Da wir keine Finanzinstitution sind, sondern ein völlig
                                            neutraler und unabhängiger Mittler zwischen der deutschen Exportwirtschaft
                                            und der Bankenwelt, der sich vor allem mehr Transparenz und Wettbewerb in
                                            diesem Bereich wünscht.
                                        </li>
                                        <br><br>
                                        <li><b>Kostenlos</b> Für Sie als Exportunternehmen ist die Nutzung des HandEX
                                            Portals völlig kostenlos. Die Finanzierungspartner leisten einen
                                            Kostenbeitrag. Sie profitieren von dem neuen digitalen und effizienten
                                            Vertriebskanal.
                                        </li>
                                        <br><br>
                                        <li><b>Einfach</b> Bei HandEX liegen Ihnen die Angebote der Banken
                                            nach Sekunden vor. Suchanfragen können Sie 7 Tage die Woche rund um die Uhr
                                            und ortsunabhängig stellen.
                                        </li>
                                        <br><br>
                                        <li><b>Professionell</b> Die von uns genutzten Server stehen in Deutschland. Der
                                            Datenaustausch mit dem Portal erfolgt hoch verschlüsselt.
                                        </li>
                                        <br><br>
                                        <li><b>Sicher</b> HandEX arbeitet nur mit in der DACH-Region ansässigen Banken
                                            zusammen, die von der nationalen/europäischen Bankenaufsicht kontrolliert
                                            werden.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="team">

        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center vertical-align">
                <div class="col-lg-12">
                    <div class="col-md-8">
                        <div class="banner-content">
                            <h2 class="text-uppercase"> So können wir Sie unterstützen </h2>
                            <br>
                        </div>

                        <br><br><br>

                        <p>Wir bieten Exportfinanzierungen für deutsche Maschinenbauer mit einem besonderen Fokus auf
                            die
                            Bedürfnisse des Mittelstands</p>
                        <br>

                        <p>Beschleunigen Sie Ihr Exportwachstum mit Zugang zu unseren flexiblen und auf internationalen
                            Handel ausgerichteten Finanzierungslösungen.</p>
                        <br><br><br>

                        <div class="supportfancy">
                            <ul>
                                <br>
                                <li-landing> Exportkredite bis €5 Mio. und einer Laufzeit von bis zu 3 Jahren
                                </li-landing>
                                <br><br><br><br>

                                <li-landing> Exportkredite direkt an ihre internationalen Handelspartner oder
                                    Refinanzierung
                                    ihrer eigenen
                                    Forderungen
                                </li-landing>

                                <br><br><br><br>
                                <li-landing> Versicherung gegen Zahlungsverzug bzw. -ausfall</li-landing>
                            </ul>
                        </div>

                        <div class="support">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ul class="text-black">
                                    <br>
                                    <li>Exportkredite bis €5 Mio. und einer Laufzeit von bis zu 3 Jahren
                                    </li>
                                    <br><br>

                                    <li>Exportkredite direkt an ihre internationalen Handelspartner oder Refinanzierung
                                        ihrer eigenen
                                        Forderungen
                                    </li>
                                    <br><br>
                                    <li>Versicherung gegen Zahlungsverzug bzw. -ausfall
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


<!-- Start Banner Area -->
<section class="banner-area-three">
    <br><br><br>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center vertical-align">
            <div class="col-lg-12">
                <div class="banner-content">
                    <h1 class="text-uppercase"> WIE FUNKTIONIERT ES? </h1>
                    <br><br>

                    <div class="howitworksfancy">
                        <div class="step">
                            <div>
                                <div class="circle">1</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Anmeldung</p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl1"></div>
                                </div>

                                <div class="col-md-3">
                                    <p> Einfach schnell und kostenlos auf der HandEX Webseite anmelden mit Ihre
                                        Geschäftsinformation.
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>

                        <div class="step">
                            <div>
                                <div class="circle">2</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Infos eingeben</p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl1"></div>
                                </div>

                                <div class="col-md-3">
                                    <p> Geben Sie die relevanten Transaktionsinformationen wie Produkt- und
                                        Importeurinformationen
                                        ein.
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>

                        <div class="step">
                            <div>
                                <div class="circle">3</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Transaktion prüfung</p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl1"></div>
                                </div>

                                <div class="col-md-3">
                                    <p> Unsere intelligenten Algorithmen für maschinelles Lernen überprüfen Tausende von
                                        Datenpunkten,
                                        um die Einreichung Ihrer Bewerbung zu automatisieren.
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>

                        <div class="step">
                            <div>
                                <div class="circle">4</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Daten übermittlung</p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl1"></div>
                                </div>

                                <div class="col-md-5">
                                    <p>Die ultra-sicheren HandEX-Server stellen sicher, dass Ihre Informationen immer in
                                        sicheren
                                        Händen sind und sicher mit unseren institutionellen Partnern geteilt werden.
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>

                        <div class="step">
                            <div>
                                <div class="circle">5</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Angebot</p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl1"></div>
                                </div>

                                <div class="col-md-5">
                                    <p> Wir werden das Angebot von unseren institutionellen Partnern auf der Basis des
                                        eingereichten
                                        Antrags abrufen und sicherstellen, dass Sie das beste Angebot für Ihre
                                        Bedürfnisse
                                        auswählen
                                        können.
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>
                    </div>

                    <div class="howitworks">
                        <div class="col-md-5 col-sm-8 col-xs-8">
                            <ul class="text-black">
                                <br>
                                <li><b>Anmeldung</b> Einfach schnell und kostenlos auf der HandEX Webseite anmelden mit
                                    Ihre
                                    Geschäftsinformation.
                                </li>
                                <br><br>
                                <li><b>Infos eingeben</b> Geben Sie die relevanten Transaktionsinformationen wie
                                    Produkt- und Importeurinformationen ein.
                                </li>
                                <br><br>
                                <li><b>Transaktion prüfung</b> Unsere intelligenten Algorithmen für maschinelles Lernen
                                    überprüfen Tausende von Datenpunkten, um die Einreichung Ihrer Bewerbung zu
                                    automatisieren.
                                </li>
                                <br><br>
                                <li><b>Daten übermittlung</b> Die ultra-sicheren HandEX-Server stellen sicher, dass Ihre
                                    Informationen immer in sicheren Händen sind und sicher mit unseren institutionellen
                                    Partnern geteilt werden.
                                </li>
                                <br><br>
                                <li><b>Angebot</b> Wir werden das Angebot von unseren institutionellen Partnern auf der
                                    Basis des eingereichten Antrags abrufen und sicherstellen, dass Sie das beste
                                    Angebot für Ihre Bedürfnisse auswählen können.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<br><br><br>


<footer-landing id="footer" class="section-full">
    <div class="container" style="background-color: #f3f3f3; width: 100% ">
        <br><br>
        <div class="row justify-content-center ">

            <div class="col-lg-3 col-sm-6 col-lg-offset-1">
                <div class="single-footer-widget">

                    <h5 class="text-black text-uppercase mb-20 mt-20"> Über HandEX </h5>
                    <p> Wir erleichtern den internationalen Handel von deutschen Maschinenbauern, indem wir den
                        Exportfinanzierungs- und versicherungsprozess durch Digitalisierung und Automatisierung
                        vereinfachen und verkürzen. Wir bieten Exportfinanzierungen bis zu €5 Mio. und einer
                        Laufzeit
                        bis zu 3 Jahren sowie korrespondierende Versicherungen. </p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-lg-offset-1">
                <div class="single-footer-w idget">
                    <h5 class="text-black text-uppercase mb-20 mt-20"> Navigation Links</h5>
                    <div class="d-flex">
                        <ul class="footer-nav mb-15">
                            <li><a href="#top">Home</a></li>
                            <li><a href="#services">Ihre Vorteile </a></li>
                        </ul>
                        <ul class="footer-nav">
                            <li><a href="#team">So funktioniert es</a></li>
                            <li><a href="#footer">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h5 class="text-black text-uppercase mb-20 mt-20">Contact</h5>
                    <p> HandEX UG (haftungsbeschränkt)
                        c/o betahaus
                        Eifflerstraße 43
                        22769 Hamburg
                    </p>
                    <p> Geschäftsführer: </p>
                    <p> Patrick Kupitz, Vincent Lauer, Asfandyar Malik </p>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center">
            <div class="col-lg-8 col-sm-8 col-lg-offset-1">
                Copyright &copy; 2018 | All rights reserved to <a href="#">Handex UG.</a> <br><br>
                <a href="/pages/impressum"> Impressum & Datenschutz </a> <br><br>
            </div>
        </div>
    </div>
</footer-landing>