<!-- Start Header Area -->
<header class="landing-header">
    <div class="sticky-header">
        <div class="container fullwidth">
            <div class="header-content">
                <div class="right-bar align-items-center">
                    <div class="header-dynamize">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 hidden-xs hidden-sm col-lg-offset-1 col-md-offset-1">
                                <div class="logo">
                                    <a href="#top" class="smooth"><%= image_tag "HandEX_logo7.png", style: 'height:4.5em;' %></a>
                                </div>
                            </div>

                            <div class="col-sm-3 col-xs-3 hidden-md hidden-lg">
                                <div class="logo">
                                    <a href="#top" class="no-padding"><%= image_tag "HandEX_logo7.png", style: 'height:3.5em;' %></a>
                                </div>
                            </div>


                            <div class="col-lg-8 col-md-8">
                                <nav class="align-items-center">
                                    <ul class="main-menu">
                                        <a href="#top">Home</a>
                                        <a href="#services">Ihre Vorteile</a>
                                        <a href="#team">So funktioniert es</a>
                                        <a href="#footer">Kontakt</a>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area-one">
    <div class="container fullwidth">
        <div class="row fullscreen justify-content-center align-items-center vertical-align">
            <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 col-lg-offset-1 col-md-offset-1">
                <div class="banner-content text-background">
                    <h1 class="text mt-80"> Exportfinanzierung leicht gemacht. </h1>

                    <p class="text-black mt-80"> Wir suchen die passende Exportfinanzierung und Exportversicherung für
                        Sie. </p>

                    <p class="text-black mt-20"> Ihre Online-Bewerbung ist für Sie schnell
                        und kostenlos. </p>

                    <p class="text-black mt-20"> Leichter geht's nicht. </p>

                    <div class="row mt-100">

                        <div class="col-xs-5 col-sm-5 col-md-2 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                            <h4><u> <a href="#services"> Mehr Erfahren </a> </u></h4>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                            <% if (!user_signed_in?) %>
                                <a href="/registration" class="primary-btn banner-btn-kunden h9"> Direkt Anfragen </a>
                            <% else %>
                                <a href="/listings/new?" class="primary-btn banner-btn-kunden h9"> Direkt Anfragen </a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<div class="banner-area-two">
    <section id="services">
        <div class="container fullwidth">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="banner-content mt-60">
                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 col-lg-offset-1 col-md-offset-1">
                        <h2 class="text-uppercase"> Das sind Ihre Vorteile</h2>

                        <div class="benefitsfancy">

                            <div class="row mt-60">
                                <div class="col-md-2 mt-10">
                                    <p style="color:#0065ae">Schnell</p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl"></div>
                                </div>

                                <div class="col-md-9">
                                    <p class="text-black"> Sie erhalten in 48 Stunden Zugang zu einer größeren
                                        Auswahl an passgenauen Finanzierungsangeboten. Sie können sich daraus die
                                        für Sie attraktivsten Angebote auswählen.
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-60">
                                <div class="col-md-9">
                                    <p class="text-black"> Wir sind keine Finanzinstitution, sondern ein völlig
                                        neutraler und unabhängiger Vermittler zwischen der deutschen
                                        Exportwirtschaft und der Bankenwelt, der sich vor allem mehr Transparenz und
                                        Wettbewerb in diesem Bereich wünscht.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl"></div>
                                </div>

                                <div class="col-md-2 mt-10">
                                    <p style="color:#0065ae">Transparenz</p>
                                </div>
                            </div>

                            <div class="row mt-60">
                                <div class="col-md-2 mt-10">
                                    <p style="color:#0065ae">Kostenlos</p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl"></div>
                                </div>

                                <div class="col-md-9">
                                    <p class="text-black"> Für Sie als Exportunternehmen ist die Nutzung des HandEX
                                        Portals völlig
                                        kostenlos. Die
                                        Finanzierungspartner leisten einen Kostenbeitrag. Sie profitieren von dem
                                        neuen
                                        digitalen
                                        und
                                        effizienten Vertriebskanal.
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-60">
                                <div class="col-md-9">
                                    <p class="text-black"> Bei HandEX liegen Ihnen die Angebote der Banken nach
                                        Sekunden vor. Suchanfragen
                                        können Sie 7
                                        Tage
                                        die Woche rund um die Uhr und ortsunabhängig stellen.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl"></div>
                                </div>

                                <div class="col-md-2 mt-10">
                                    <p style="color:#0065ae">Einfach</p>
                                </div>
                            </div>

                            <div class="row mt-60">
                                <div class="col-md-2 mt-10">
                                    <p style="color:#0065ae">Professionell</p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl"></div>
                                </div>

                                <div class="col-md-9">
                                    <p class="text-black"> Die von uns genutzten Server stehen in Deutschland. Der
                                        Datenaustausch mit dem
                                        Portal erfolgt
                                        hoch verschlüsselt.
                                    </p>
                                </div>
                            </div>

                            <div class="row mt-60">
                                <div class="col-md-9">
                                    <p class="text-black"> HandEX arbeitet nur mit in der DACH-Region ansässigen
                                        Banken zusammen, die von
                                        der
                                        nationalen/europäischen Bankenaufsicht kontrolliert werden.
                                    </p>
                                </div>

                                <div class="col-md-1">
                                    <div class="vl"></div>
                                </div>

                                <div class="col-md-2 mt-10">
                                    <p style="color:#0065ae">Sicher</p>
                                </div>
                            </div>
                        </div>

                        <div class="benefits">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ul class="text-black no-padding">

                                    <li class="mt-20"><b>Schnell</b> Sie erhalten in 48 Stunden schnelleren Zugang
                                        zu einer
                                        größeren Auswahl an passgenauen Finanzierungsangeboten. Sie Sie können sich
                                        daraus die für Sie attraktivsten Angebote auswählen.
                                    </li>
                                    <li class="mt-40"><b>Transparenz</b> Da wir keine Finanzinstitution sind,
                                        sondern ein völlig
                                        neutraler und unabhängiger Mittler zwischen der deutschen Exportwirtschaft
                                        und der Bankenwelt, der sich vor allem mehr Transparenz und Wettbewerb in
                                        diesem Bereich wünscht.
                                    </li>

                                    <li class="mt-40"><b>Kostenlos</b> Für Sie als Exportunternehmen ist die Nutzung
                                        des HandEX
                                        Portals völlig kostenlos. Die Finanzierungspartner leisten einen
                                        Kostenbeitrag. Sie profitieren von dem neuen digitalen und effizienten
                                        Vertriebskanal.
                                    </li>

                                    <li class="mt-40"><b>Einfach</b> Bei HandEX liegen Ihnen die Angebote der Banken
                                        nach Sekunden vor. Suchanfragen können Sie 7 Tage die Woche rund um die Uhr
                                        und ortsunabhängig stellen.
                                    </li>
                                    <li class="mt-40"><b>Professionell</b> Die von uns genutzten Server stehen in
                                        Deutschland. Der
                                        Datenaustausch mit dem Portal erfolgt hoch verschlüsselt.
                                    </li>
                                    <li class="mt-40"><b>Sicher</b> HandEX arbeitet nur mit in der DACH-Region
                                        ansässigen Banken
                                        zusammen, die von der nationalen/europäischen Bankenaufsicht kontrolliert
                                        werden.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="team">
        <div class="container fullwidth">
            <div class="row fullscreen justify-content-center align-items-center vertical-align">
                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 col-lg-offset-1 col-md-offset-1">
                    <div class="banner-content mt-120">
                        <h1 class="text-uppercase"> So können wir Sie unterstützen </h1>
                    </div>

                    <p class="mt-20">Wir bieten Exportfinanzierungen für deutsche Maschinenbauer mit einem
                        besonderen Fokus auf
                        die
                        Bedürfnisse des Mittelstands</p>

                    <p class="mt-20">Beschleunigen Sie Ihr Exportwachstum mit Zugang zu unseren flexiblen und auf
                        internationalen
                        Handel ausgerichteten Finanzierungslösungen.</p>

                    <div class="supportfancy">
                        <ul class="mt-60">
                            <li class="li-landing">
                                Exportkredite bis €5 Mio. und einer Laufzeit von bis zu 3 Jahren
                            </li>
                            <li class="li-landing">
                                Exportkredite direkt an ihre internationalen Handelspartner
                                oder
                                Refinanzierung
                                ihrer eigenen
                                Forderungen
                            </li>
                            <li class="li-landing">
                                Versicherung gegen Zahlungsverzug bzw. -ausfall
                            </li>
                        </ul>
                    </div>

                    <div class="support">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <ul class="text-black no-padding">
                                <li class="mt-20">Exportkredite bis €5 Mio. und einer Laufzeit von bis zu 3 Jahren
                                </li>
                                <li class="mt-30">Exportkredite direkt an ihre internationalen Handelspartner oder
                                    Refinanzierung
                                    ihrer eigenen
                                    Forderungen
                                </li>
                                <li class="mt-30">Versicherung gegen Zahlungsverzug bzw. -ausfall
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Start Banner Area -->
<section class="banner-area-three">
    <div class="container fullwidth">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 col-lg-offset-1 col-md-offset-1">
                <div class="banner-content mt-150">
                    <h1 class="text-uppercase"> WIE FUNKTIONIERT ES? </h1>
                    <div class="howitworksfancy mt-40">
                        <div class="step">
                            <div>
                                <div class="circle">1</div>
                                <div class="line"></div>
                                <p class="mb-40"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Anmeldung</p>
                                </div>

                                <!--                                <div class="col-md-1">-->
                                <!--                                    <div class="vl1"></div>-->
                                <!--                                </div>-->

                                <div class="col-md-3 col-md-offset-1">
                                    <p> Einfach, schnell und kostenlos auf der HandEX Webseite anmelden mit Ihren
                                        Kontaktdaten
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>

                        <div class="step">
                            <div>
                                <div class="circle">2</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Infos eingeben</p>
                                </div>

                                <!--                                <div class="col-md-1">-->
                                <!--                                    <div class="vl1"></div>-->
                                <!--                                </div>-->

                                <div class="col-md-3 col-md-offset-1">
                                    <p> Geben Sie die relevanten Transaktionsinformationen wie Produkt- und
                                        Importeurinformationen
                                        ein.
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>

                        <div class="step">
                            <div>
                                <div class="circle">3</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Transaktionsprüfung</p>
                                </div>

                                <!--                                <div class="col-md-1">-->
                                <!--                                    <div class="vl1"></div>-->
                                <!--                                </div>-->

                                <div class="col-md-3 col-md-offset-1">
                                    <p> Unsere intelligenten Algorithmen für maschinelles Lernen überprüfen Tausende von
                                        Datenpunkten,
                                        um die Einreichung Ihrer Bewerbung zu automatisieren.
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>

                        <div class="step">
                            <div>
                                <div class="circle">4</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Datenübermittlung</p>
                                </div>

                                <!--                                <div class="col-md-1">-->
                                <!--                                    <div class="vl1"></div>-->
                                <!--                                </div>-->

                                <div class="col-md-4 col-md-offset-1">
                                    <p>Die ultra-sicheren HandEX-Server stellen sicher, dass Ihre Informationen immer in
                                        sicheren
                                        Händen sind und sicher mit unseren institutionellen Partnern geteilt werden.
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>

                        <div class="step">
                            <div>
                                <div class="circle">5</div>
                                <div class="line"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <p>Angebot</p>
                                </div>

                                <!--                                <div class="col-md-1">-->
                                <!--                                    <div class="vl1"></div>-->
                                <!--                                </div>-->

                                <div class="col-md-5 col-md-offset-1">
                                    <p> Sie erhalten Angebote von unseren institutionellen Partnern auf Basis des
                                        eingereichten Antrags und können eines dieser Angebote auswählen und online
                                        abschließen
                                    </p>
                                </div>
                            </div>
                            <br><br><br><br>
                        </div>
                    </div>

                    <div class="howitworks">
                        <div class="col-md-5 col-sm-8 col-xs-8">
                            <ul class="text-black no-padding">
                                <li class="mb-40 mt-40"><b>Anmeldung</b> Einfach, schnell und kostenlos auf der HandEX
                                    Webseite anmelden mit
                                    Ihren Kontaktdaten.
                                </li>
                                <li class="mb-40"><b>Infos eingeben</b> Geben Sie die relevanten
                                    Transaktionsinformationen wie
                                    Produkt- und Importeurinformationen ein.
                                </li>
                                <li class="mb-40"><b>Transaktionsprüfung</b> Unsere intelligenten Algorithmen für
                                    maschinelles Lernen
                                    überprüfen Tausende von Datenpunkten, um die Einreichung Ihrer Bewerbung zu
                                    automatisieren.
                                </li>
                                <li class="mb-40"><b>Datenübermittlung</b> Die ultra-sicheren HandEX-Server stellen
                                    sicher, dass Ihre
                                    Informationen immer in sicheren Händen sind und sicher mit unseren institutionellen
                                    Partnern geteilt werden.
                                </li>
                                <li class="mb-40"><b>Angebot</b> Sie erhalten Angebote von unseren institutionellen
                                    Partnern auf Basis
                                    des eingereichten Antrags und können eines dieser Angebote auswählen und online
                                    abschließen
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<footer class="section-full footer-landing mt-20">
    <div class="container fullwidth">
        <div class="row justify-content-center">

            <div class="col-lg-3 col-sm-12 col-lg-offset-1">
                <div class="single-footer-widget">

                    <h5 class="text-black text-uppercase mb-20 mt-20"> Über HandEX </h5>
                    <p> Wir erleichtern den internationalen Handel von deutschen Maschinenbauern, indem wir den
                        Exportfinanzierungs- und versicherungsprozess durch Digitalisierung und Automatisierung
                        vereinfachen und verkürzen. Wir bieten Exportfinanzierungen bis zu €5 Mio. und einer
                        Laufzeit
                        bis zu 3 Jahren sowie korrespondierende Versicherungen. </p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12 col-lg-offset-1">
                <div class="single-footer-widget">
                    <h5 class="text-black text-uppercase mb-20 mt-20"> Navigation Links</h5>
                    <div class="d-flex">
                        <ul class="footer-nav mb-15">
                            <li><a href="#top">Home</a></li>
                            <li><a href="#services">Ihre Vorteile </a></li>
                        </ul>
                        <ul class="footer-nav">
                            <li><a href="#team">So funktioniert es</a></li>
                            <li><a href="#footer">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="single-footer-widget">
                    <h5 class="text-black text-uppercase mb-20 mt-20">Contact</h5>
                    <p> HandEX UG (haftungsbeschränkt)
                        c/o betahaus
                        Eifflerstraße 43
                        22769 Hamburg
                    </p>
                    <p> Geschäftsführer: </p>
                    <p> Patrick Kupitz, Vincent Lauer, Asfandyar Malik </p>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center">
            <div class="col-lg-8 col-sm-8 col-lg-offset-1">
                <p> Copyright &copy; 2018 | All rights reserved to <a href="#"> Handex UG.</a></p>
                <a href="/pages/impressum"><p> Impressum & Datenschutz </p></a>
            </div>
        </div>
    </div>
</footer>