<%= render 'shared/navbar' %>

<div class="container valign-wrapper">
    <div class="section">
        <div class="card choice-card big-choice-card">
            <div class="card-title valign-wrapper">
                <%= image_tag "handex-logo.png" %>
                <div class="title-text">
<!--                    <h4><%#= t('importer_information_saved') %></h4>-->
                    <h4> Your data was saved succesfully </h4>
                </div>
            </div>
            <div class="card-content center-align light-hint">
<!--                <p><%#= t('importer_information_saved_text')%></p>-->

                <p> Your data have been sent. We are now reviewing the data so that we can proceed with the export financing and insurance. If you have any questions, you can always contact us by e-mail at info@handex.co. </p>

            </div>
        </div>
    </div>
</div>