<!-- Start Header Area -->
<header class="landing-header">
    <div class="sticky-header">
        <div class="container">
            <div class="header-content">

                <div class="right-bar align-items-center">

                    <div class="row">
                        <div class="col-lg-1 col-sm-1">
                            <div class="logo">
                                <a href="#top" class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:4.5em;width:auto;' %></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            <br>
                            <h1>HandEX</h1>
                        </div>

                        <div class="col-lg-9 col-sm-9">
                            <nav class="align-items-center">
                                <ul class="main-menu">
                                    <a href="#top">Home</a>
                                    <a href="#services">Ihre Vorteile</a>
                                    <a href="#team">So funktioniert</a>
                                    <a href="#footer">Kontakt</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area-one">
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center vertical-align">
            <div class="col-lg-12">
                <div class="banner-content text-background">
                    <h1 class="text"> Exportfinanzierung leicht gemacht. </h1>
                    <br><br><br>

                    <h3 class="text"> Wir suchen nach die passende exportfinanzierung und exportversicherung für
                        Sie. </h3>
                    <br>
                    <h3 class="text"> Ihre Online-Bewerbung ist für Sie schnell
                        und kostenlos. </h3>
                    <br>
                    <h3 class="text"> Leichter geht's nicht. </h3>
                    <br>

                    <br><br><br><br>

                    <div class="row">

                        <div class="col-md-1">
                            <h4><u> <a href="#services"> Mehr Erfahren </a> </u></h4>
                        </div>
                        <div class="col-md-3">
                            <% if (!user_signed_in?) %>
                                <a href="/registration" class="primary-btn banner-btn-kunden h9"> Direkt Anfragen </a>
                            <% else %>
                                <a href="/listings/new?" class="primary-btn banner-btn-kunden h9"> Direkt Anfragen </a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start Banner Area -->
<section class="banner-area-two">
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center vertical-align">
            <div class="col-lg-12">
                <div class="banner-content">

                    <div class="col-md-8">
                        <h2 class="text-uppercase"> Das sind Ihre Vorteile</h2>
                        <br><br><br>

                        <div class="row">
                            <div class="col-md-2">
                                <h3 style="color:#0065ae">Schnell</h3>
                            </div>

                            <div class="col-md-1">
                                <div class="vl"></div>
                            </div>

                            <div class="col-md-9">
                                <h9> Sie erhalten in 48 Stunden schnelleren Zugang zu einer größeren Auswahl
                                    an
                                    passgenauen
                                    Finanzierungsangeboten. Sie Sie können sich daraus die für Sie attraktivsten
                                    Angebote
                                    auswählen.
                                </h9>
                            </div>
                        </div>
                        <br><br><br>

                        <div class="row">
                            <div class="col-md-9">
                                <h9> Da wir keine Finanzinstitution sind, sondern ein völlig neutraler und unabhängiger Mittler
                                    zwischen der deutschen Exportwirtschaft und der Bankenwelt, der sich vor allem mehr
                                    Transparenz
                                    und Wettbewerb in diesem Bereich wünscht
                                </h9>
                            </div>

                            <div class="col-md-1">
                                <div class="vl"></div>
                            </div>

                            <div class="col-md-2">
                                <h3 style="color:#0065ae">Transparenz</h3>
                            </div>
                        </div>
                        <br><br><br>

                        <div class="row">
                            <div class="col-md-2">
                                <h3 style="color:#0065ae">Kostenlos</h3>
                            </div>

                            <div class="col-md-1">
                                <div class="vl"></div>
                            </div>

                            <div class="col-md-9">
                                <h9> Für Sie als Exportunternehmen ist die Nutzung des HandEX Portals völlig kostenlos. Die
                                    Finanzierungspartner leisten einen Kostenbeitrag. Sie profitieren von dem neuen digitalen
                                    und
                                    effizienten Vertriebskanal.
                                </h9>
                            </div>
                        </div>
                        <br><br><br>

                        <div class="row">
                            <div class="col-md-9">
                                <h9> Bei HandEX liegen Ihnen die Angebote der Banken nach Sekunden vor. Suchanfragen können Sie 7
                                    Tage
                                    die Woche rund um die Uhr und ortsunabhängig stellen.
                                </h9>
                            </div>

                            <div class="col-md-1">
                                <div class="vl"></div>
                            </div>

                            <div class="col-md-2">
                                <h3 style="color:#0065ae">Einfach</h3>
                            </div>
                        </div>
                        <br><br><br>

                        <div class="row">
                            <div class="col-md-2">
                                <h3 style="color:#0065ae">Professionell</h3>
                            </div>

                            <div class="col-md-1">
                                <div class="vl"></div>
                            </div>

                            <div class="col-md-9">
                                <h9> Die von uns genutzten Server stehen in Deutschland. Der Datenaustausch mit dem Portal erfolgt
                                    hoch verschlüsselt.
                                </h9>
                            </div>
                        </div>
                        <br><br><br>

                        <div class="row">
                            <div class="col-md-9">
                                <h9> HandEX arbeitet nur mit in der DACH-Region ansässigen Banken zusammen, die von der
                                    nationalen/europäischen Bankenaufsicht kontrolliert werden.
                                </h9>
                            </div>

                            <div class="col-md-1">
                                <div class="vl"></div>
                            </div>

                            <div class="col-md-2">
                                <h3 style="color:#0065ae">Sicher</h3>
                            </div>
                        </div>

                        <h4></h4>
                        <p></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start Banner Area -->
<section class="banner-area-two">
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center vertical-align">
            <div class="col-lg-12">


                <div class="col-md-8">

                    <div class="banner-content">
                        <h2 class="text-uppercase"> SO KÖNNEN WIR IHNEN UNTERSTÜTZEN </h2>
                        <br>
                    </div>

                    <br><br><br>

                    <h3>Wir bieten Exportfinanzierungen für deutsche Maschinenbauer mit einem besonderen Fokus auf die
                        Bedürfnisse des Mittelstands</h3>

                    <br><br><br>

                    <h3>Beschleunigen Sie Ihr Exportwachstum mit Zugang zu unseren flexibelen und auf internationalen Handel
                        ausgerichteten Finanzierungslösungen</h3>

                    <br><br><br>

                    <ul>

                        <br>
                        <li-landing> Exportkredite bis €5 Mio. und einer Laufzeit von bis zu 3 Jahren</li-landing>
                        <br><br><br><br>

                        <li-landing> Exportkredite direkt an ihre internationalen Handelspartner oder Refinanzierung ihrer eigenen
                            Forderungen
                        </li-landing>

                        <br><br><br><br>
                        <li-landing> Versicherung gegen Zahlungsverzug bzw. -ausfall</li-landing>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!-- Start Banner Area -->
<section class="banner-area-three">
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center vertical-align">
            <div class="col-lg-12">
                <div class="banner-content ">
                    <h1 class="text-uppercase"> WIE FUNKTIONIERT ES? </h1>
                    <br><br>

                    <div class="step">
                        <div>
                            <div class="circle">1</div>
                            <div class="line"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <h3 style="color:#222222">Anmeldung</h3>
                            </div>

                            <div class="col-md-1">
                                <div class="vl1"></div>
                            </div>

                            <div class="col-md-3">
                                <h10> Einfach schnell und kostenlos auf der HandEX Webseite anmelden mit Ihre
                                    Geschäftsinformation.
                                </h10>
                            </div>
                        </div>
                        <br><br><br><br>
                    </div>

                    <div class="step">
                        <div>
                            <div class="circle">2</div>
                            <div class="line"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <h3 style="color:#222222">Infos eingeben</h3>
                            </div>

                            <div class="col-md-1">
                                <div class="vl1"></div>
                            </div>

                            <div class="col-md-4">
                                <h10> Geben Sie die relevanten Transaktionsinformationen wie Produkt- und Importeurinformationen
                                    ein.
                                </h10>
                            </div>
                        </div>
                        <br><br><br><br>
                    </div>

                    <div class="step">
                        <div>
                            <div class="circle">3</div>
                            <div class="line"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <h3 style="color:#222222">Transaktion prüfung</h3>
                            </div>

                            <div class="col-md-1">
                                <div class="vl1"></div>
                            </div>

                            <div class="col-md-4">
                                <h10> Unsere intelligenten Algorithmen für maschinelles Lernen überprüfen Tausende von Datenpunkten,
                                    um die Einreichung Ihrer Bewerbung zu automatisieren.
                                </h10>
                            </div>
                        </div>
                        <br><br><br><br>
                    </div>

                    <div class="step">
                        <div>
                            <div class="circle">4</div>
                            <div class="line"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <h3 style="color:#222222">Daten übermittlung</h3>
                            </div>

                            <div class="col-md-1">
                                <div class="vl1"></div>
                            </div>

                            <div class="col-md-4">
                                <h10>Die ultra-sicheren HandEX-Server stellen sicher, dass Ihre Informationen immer in sicheren
                                    Händen sind und sicher mit unseren institutionellen Partnern geteilt werden.
                                </h10>
                            </div>
                        </div>
                        <br><br><br><br>
                    </div>

                    <div class="step">
                        <div>
                            <div class="circle">5</div>
                            <div class="line"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <h3 style="color:#222222">Angebot</h3>
                            </div>

                            <div class="col-md-1">
                                <div class="vl1"></div>
                            </div>

                            <div class="col-md-4">
                                <h10> Wir werden das Angebot von unseren institutionellen Partnern auf der Basis des eingereichten
                                    Antrags abrufen und sicherstellen, dass Sie das beste Angebot für Ihre Bedürfnisse auswählen
                                    können.
                                </h10>
                            </div>
                        </div>
                        <br><br><br><br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<footer-landing class="section-full">
    <div class="container" style="background-color: #f3f3f3; width: 100% ">
        <br><br><br><br>
        <div class="row justify-content-center ">

            <div class="col-lg-3 col-sm-6 col-lg-offset-1">
                <div class="single-footer-widget">

                    <h6 class="text-black text-uppercase mb-20"> Über HandEX </h6>
                    <p> Wir erleichtern den internationalen Handel von deutschen Maschinenbauern, indem wir den
                        Exportfinanzierungs- und versicherungsprozess durch Digitalisierung und Automatisierung
                        vereinfachen und verkürzen. Wir bieten Exportfinanzierungen bis zu €5 Mio. und einer
                        Laufzeit
                        bis zu 3 Jahren sowie korrespondierende Versicherungen. </p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-lg-offset-1">
                <div class="single-footer-w idget">
                    <h6 class="text-black text-uppercase mb-20"> Navigation Links</h6>
                    <div class="d-flex">
                        <ul class="footer-nav">
                            <li><a href="#top">Home</a></li>
                            <li><a href="#services">Ihre Vorteile </a></li>
                        </ul>
                        <ul class="footer-nav">
                            <li><a href="#team">So Funktioniert</a></li>
                            <li><a href="#footer">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-black text-uppercase mb-20">Contact</h6>

                    <p> HandEX UG (haftungsbeschränkt)
                        c/o betahaus
                        Eifflerstraße 43
                        22769 Hamburg
                    </p>

                    <p> Geschäftsführer: </p>
                    <p> Patrick Kupitz, Vincent Lauer, Asfandyar Malik </p>

                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center">
            <div class="col-lg-3 col-sm-6 col-lg-offset-1">
                Copyright &copy; 2018 | All rights reserved to <a href="#">Handex UG.</a> <br><br>
                <a href="/pages/impressum"> Impressum & Datenschutz </a> <br><br>
            </div>
        </div>
    </div>
</footer-landing>