<nav class="grey lighten-2 z-depth-0">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"> <img style="height: 50px; vertical-align: middle;" src="HandEX_logo.png"
                                              alt=""></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="badges.html"><i class="material-icons">account_circle</i></a></li>
            <li><a href="sass.html"><i class="material-icons">add_alert</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">settings</i></a></li>
        </ul>
    </div>
</nav>
<nav class="black z-depth-0">
    <div class="nav-wrapper">
        <span class="nav-title" style="padding-top: 0px;">Anträge</span>
        <ul class="right hide-on-med-and-down">
            <li><a class="z-depth-0 btn">Alle</a></li>
            <li><a class="z-depth-0 btn black">Genehmigt</a></li>
            <li><a class="z-depth-0 btn black">Versendet</a></li>
            <li><a class="z-depth-0 btn black">Aktion</a></li>
            <li><a class="z-depth-0 btn black">Entwürfe</a></li>
            <li><a class="z-depth-0 btn btn-large teal">Antrag starten</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="row">
        <div class="col s12 m3">
            <div class="card">
                <div class="card-title teal white-text">
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <strong>Antrag versendet</strong>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Zusammenfassung Ansehen</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-title green white-text">
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <strong>Antrag genehmigt</strong>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Zusammenfassung Ansehen</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-title orange white-text">
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <strong>Antrag - Aktion erforderlich</strong>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Zusammenfassung Ansehen</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-title grey white-text">
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <strong>Antrag Entwurf</strong>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons left">account_circle</i>
                        <div>
                            <label for="output">label</label>
                            <p id="output"> output</p>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a href="#">Zusammenfassung Ansehen</a>
                </div>
            </div>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</div>