<nav class="white z-depth-0">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"> <img class="handex-nav-logo" src="/assets/HandEX_logo4.png" alt=""></a>
        <ul class="right hide-on-med-and-down handex-nav-icon">
            <li><a class="top-navigation-icons" href="badges.html"><i class="material-icons">account_circle</i></a></li>
            <li><a class="top-navigation-icons"href="sass.html"><i class="material-icons">add_alert</i></a></li>
            <li><a class="top-navigation-icons"href="collapsible.html"><i class="material-icons">settings</i></a></li>
        </ul>
    </div>
</nav>
<nav class="black handex-second-nav z-depth-0">
    <div class="nav-wrapper">
            <span class="nav-title">Anträge</span>
        <a class="z-depth-0 btn z-depth-0 handex-btn waves-">Antrag starten</a>
        <a class="z-depth-0 btn handex-btn rounded inactive">Entwürfe</a>
        <a class="z-depth-0 btn handex-btn rounded inactive">Aktion</a>
        <a class="z-depth-0 btn handex-btn rounded inactive">Versendet</a>
        <a class="z-depth-0 btn handex-btn rounded inactive">Genehmigt</a>
        <a class="z-depth-0 btn handex-btn rounded">Alle</a>
    </div>
</nav>
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-title sent_financing_application white-text valign-wrapper">
                        <div class="valign-wrapper">
                            <i class="material-icons left">schedule</i>
                            <div>
                                <strong>Antrag versendet</strong>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_importer">IMPORTEUR</label>
                                <p id="output_importer">Aafalot Ltd. & Co. Industrieausrüstung</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_product">PRODUKT</label>
                                <p id="output_product">Textilmaschine</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_value">AUFTRAGSWERT</label>
                                <p id="output_value">&euro; 240,000</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_application_date">VERSENDET AM</label>
                                <p id="output_application_date">21. März 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action center">
                        <a href="#">Zusammenfassung Ansehen</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-title approved_financing_application white-text valign-wrapper">
                        <div class="valign-wrapper">
                            <i class="material-icons left">schedule</i>
                            <div>
                                <strong>Antrag genehmigt</strong>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_importer">IMPORTEUR</label>
                                <p id="output_importer">Aafalot Ltd. & Co. Industrieausrüstung</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_product">PRODUKT</label>
                                <p id="output_product">Textilmaschine</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_value">AUFTRAGSWERT</label>
                                <p id="output_value">&euro; 240,000</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_application_date">VERSENDET AM</label>
                                <p id="output_application_date">21. März 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action center">
                        <a href="#">Zusammenfassung Ansehen</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-title orange white-text action_required_financing_application valign-wrapper">
                        <div class="valign-wrapper">
                            <i class="material-icons left">restore</i>
                            <div>
                                <strong>Antrag - Aktion erforderlich</strong>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_importer">IMPORTEUR</label>
                                <p id="output_importer">Aafalot Ltd. & Co. Industrieausrüstung</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_product">PRODUKT</label>
                                <p id="output_product">Textilmaschine</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_value">AUFTRAGSWERT</label>
                                <p id="output_value">&euro; 240,000</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_application_date">VERSENDET AM</label>
                                <p id="output_application_date">21. März 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action center">
                        <a href="#">Zusammenfassung Ansehen</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-title grey white-text draft_financing_application valign-wrapper">
                        <div class="valign-wrapper">
                            <i class="material-icons left">comment</i>
                            <div>
                                <strong>Antrag Entwurf</strong>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_importer">IMPORTEUR</label>
                                <p id="output_importer">Aafalot Ltd. & Co. Industrieausrüstung</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_product">PRODUKT</label>
                                <p id="output_product">Textilmaschine</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_value">AUFTRAGSWERT</label>
                                <p id="output_value">&euro; 240,000</p>
                            </div>
                        </div>
                        <div class="valign-wrapper">
                            <i class="material-icons left">account_circle</i>
                            <div>
                                <label for="output_application_date">VERSENDET AM</label>
                                <p id="output_application_date">21. März 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action center">
                        <a href="#">Zusammenfassung Ansehen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>