<div class="container">

    <br><br><br>


    <h2>HandEX’ General Terms & Conditions</h2>

    <h3>1. Parties </h3>


    <p> The following terms and conditions (“T&C”) constitute the context and purpose of the business relationship between Handex GmbH, with registered office at c/o WeWork, Hermannstraße 13, 20095
        Hamburg (“Handex” or in the first person as “We” or “Us”) andyou (“Company”). </p>


    <h3> 2. Scope </h3>

    <p> Handex operates an online platform (“Handex Platform” or “Platform”) accessible via WebApp. The use of the Platform requires consent to the T&C and applies to all transactions concluded within
        the Handex Platform accessible via WebApp or any other means developed by Handex (once available). This only holds under the condition that the T&C have been presented to the Company and the
        Company had the opportunity to acknowledge these. Modifications to the T&C will be communicated to the Company in a reasonable timeframe, at the latest two months before the proposed effective
        date. These modifications will be offered primarily in electronic manner (e.g., by e-mail or in the WebApp). The consent of the Company shall be deemed to be given unless the Company notifies
        its rejection before the proposed date of effect of the modifications. </p>

    <h3>3. Communication </h3>

    <p> The communication with Handex is always carried out in electronic form (e.g. via WebApp or e-mail) unless in writing is required by statutory law or electronic form is practically
        infeasible. </p>

    <h3> 4. Subject and scope of the service </h3>

    <p> Through the HandEX Platform, Export Credit Insurance as well as Export and Trade Finance products are offered by Insurance companies and/or Financial institutions (collectively referred as
        “Providers”) and can be contracted between the Company and Providers. Handex does not operate the platform on behalf of the Company or Providers,but merely facilitates the application process
        and interaction between Providers and the Company. It is the Company’s own discretion whether to accept the offer(s) presented bythe Providers through the platform of Handex. The platform can
        be operated either by a representative of the Company or by a third party authorized to use the platform on behalf of the Company (“Authorized Third Party”).In case an Authorized Third Party
        is using the platform on behalf of a Company, this Authorized Third Party will deliver its proof of authorization to HandEX. For the purpose offering Financial Services to the Company through
        the HandEX platform, Handex will process and transfer applications for Financial Products to Providers. By signing or electronically confirming these T&C the Company authorizes HandEX to
        perform the following acts on behalf of the Company vis-à-vis the Providers: Present applications and declarations of intent to contract Financial Services with Providers, Communicate with
        Providers,
        Support in the event of financial damage. </p>

    <h3> 5. Technical availability </h3>

    <p> Handex makes its best effort to make its services available to the Company at any time in the best possible way on the Platform and on the phone. There is no promise or guarantee that the
        Company can reach Handex at all times. Handex is not liable – unless in case of intentional or gross negligent acts – for any failure for technical reasons, e.g.: Faulty hardware, Faulty
        software, Maintenance work or Reasons outside of the influence of Handex, e.g.: Force majeure and Fault of third parties </p>

    <h3>6. No guarantees </h3>

    <p> HandEX provides no guarantee that the Company will receive Financial Services from Providers. It is the sole responsibility of the Company to provide up to date, true and accurate information
        on
        the HandEX platform, which is transferred to Providers. HandEX is not liable for any claims or disputes between Providers and the Company or any damages resulting from the use of Financial
        Services of Providers. </p>

    <h3> 7. Fees </h3>

    <p> Handex offers its platform free of charge for the Company. HandEX will inform the Company of fees or other costs charged by Providers before such costs occur. </p>

    <h3> 8. Term and termination </h3>

    <p> These T&C are concluded for an indefinite period of time and can be terminated with notice by the Company or by Handex at any time. The termination must be notified in written electronic
        form. </p>

    <h3> 9. Final Provisions </h3>

    <p> If a provision of these T&C becomes invalid, all other provisions shall remain valid. Notwithstanding any existing contracts shall remain unaffected. The unlawful provision is dropped without
        substitution and is replaced by the statutory regulation. If the T&C contain regulatory gaps, all other and remaining provisions remain effective. These T&C and all disputes and claims arising
        out of or in connection with it are governed by German law. The courts in Hamburg, Germany, shall have exclusive jurisdiction to decide on any issues under or relating to this Agreement. The
        UN Convention on the International Sale of Goods as well as all international conflict of law rules are excluded. </p>


</div>