<div class="container">
    <div class="section sign-in">
        <div class="row valign-wrapper">
            <div class="col s12 m6">
                <div class="text-section black-text">
                    <img src="handex-logo.png" alt="">
                    <h4>Einloggen.</h4>
                    <p class="light">Willkommen Zurück!<br>
                        Wir sind für Sie da, um Ihr Exportgeschäft zu unterstützen.<br>

                    </p>
                    <a href="#" class="un"><u>Noch kein Konto? Registrieren Sie sich jetzt.</u></a>
                </div>
            </div>
            <div class="col s12 m6">
                <form action="" method="post">
                    <div class="form-section z-depth-1">
                        <div class="row">
                            <div class="col s12">
                                <div class="form-content">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label>E-Mail</label>
                                            <input id="postal" type="text" class="validate">
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="password">Passwort</label>
                                            <input id="password"
                                                   placeholder=" Passwort muss mindestens 6 Zeichen enthalten"
                                                   type="password"
                                                   class="validate">
                                        </div>
                                        <div class="input-field col s12">
                                            <button class="btn btn-large z-depth-0 validate" type="submit"
                                                    name="action">Einloggen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
    </div>
</div>