<div class="container" align="center">

    <br><br><br>
    <h2> <%= t('application_sent_successfully') %> </h2>

    <br><br><br>

    <p> <%= t('application_sent_successfully_text') %> </p>
</div>
