<%= render 'shared/navbar' %>

<div class="container valign-wrapper">
  <div class="section">
    <div class="card choice-card big-choice-card">
      <div class="card-title valign-wrapper">
        <%= image_tag "handex-logo.png" %>
        <div class="title-text">
          <h4><%= t('application_sent_successfully') %></h4>
        </div>
      </div>
      <div class="card-content center-align light-hint">
        <p><%= t('application_sent_successfully_text')%></p>
      </div>
      <div class="card-action big-card-action">
        <div class="col s12">
          <div class="form-content">
            <div class="row">
              <div class="input-field col s12 center-align">
                <a href="/" class="btn-large z-depth-0 handex-btn btn-flat z-depth-0 validate white-text" name="action">Weiter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>