<div class="container" align="center">

    <br><br><br>
    <h2>
        Ihr Antrag wurde erfolgreich versendet !!!
    </h2>

    <br><br><br>

    <p>
        Ihr Antrag wurde erfolgreich versendet und wird nun von HandEX geprüft. Sie erhalten voraussichtlich in den nächsten zwei Wochen eine Antwort.
        Bei Rückfragen können Sie sich jederzeit an uns wenden, indem Sie uns eine Email senden an info@handex.co
    </p>
</div>
