<div class="container">

    <br><br><br>

    <h2> Datenschutzerklärung HandEX </h2>

    <br>
    <h3> Grundlegendes </h3>

    Diese Datenschutzerklärung soll die Nutzer dieser Website über die Art, den Umfang und den Zweck der Erhebung und
    Verwendung personenbezogener Daten durch den Websitebetreiber HandEX GmbH, Eifflerstr. 43, 22769 Hamburg („HandEX“)
    informieren.

    HandEX nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend
    der gesetzlichen Vorschriften. Da durch neue Technologien und die ständige Weiterentwicklung dieser Webseite
    Änderungen an dieser Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen sich die
    Datenschutzerklärung in regelmäßigen Abständen wieder durchzulesen.

    Definitionen der verwendeten Begriffe (z.B. “personenbezogene Daten” oder “Verarbeitung”) finden Sie in Art. 4
    DSGVO.

    Erfassung und Verarbeitung personenbezogener Daten im Rahmen der Antragstellung

    Im Zusammenhang mit der Antragsstellung und / oder Anfragen für Exportfinanzierungen an unsere Bankpartner und /
    oder die Beantragung von Exportkreditgarantien des Bundes bei Euler Hermes durch das HandEX Portal, verarbeitet
    HandEX personenbezogene Daten, die Sie als Nutzer unseres Antragsprozesses oder Dritte im Rahmen der
    Geschäftsbeziehung, soweit für die Erbringung unserer Dienstleistung erforderlich, zur Verfügung stellen.
    Personenbezogene Daten können z. B. Ansprechpartner, Positionsbezeichnung, Bevollmächtigter, Legitimationsdaten,
    Telefonnummer, Email-Adresse, ggf. Portalkontodaten, Bonitätsinformationen (auch über Auskunfteien) sein. Die
    personenbezogenen Daten werden dabei zur Abwicklung sämtlicher Vorgänge, die den Verantwortlichen, Interessenten,
    Antragsteller, unsere Kooperationspartner oder sonstige Beteiligte betreffen, verarbeitet.

    Die Verarbeitung der personenbezogenen Daten dient dem Zweck der Erfüllung vorvertraglicher Maßnahmen (z. B. der
    Antragsbearbeitung oder der Bearbeitung von Anfragen zu Exportfinanzierungen bei unseren Bankpartnern und / oder die
    Beantragung von Exportkreditgarantien des Bundes bei Euler Hermes) oder dem Zweck der Erfüllung eines Vertrages,
    dessen Vertragspartei die betroffene Person ist (Art. 6 Abs. 1b DSGVO). Ferner können die Datenverarbeitungsvorgänge
    aufgrund der Einwilligung der betroffenen Person für einen oder mehrere bestimmte(n) Einwilligungszweck(e) erfolgen,
    sofern die Einwilligung nicht widerrufen wurde (Art. 6 Abs. 1a DSGVO). Wenn Sie einen Antrag über unsere Website
    absenden, werden Ihre Daten an unsere Partner übermittelt, sofern Sie vorher den Datenschutzbestimmungen unserer
    Partner zugestimmt haben. Darüber hinaus haben nur Mitarbeiter von HandEX Zugriff auf personenbezogene Daten. Ohne
    Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.

    <br><br>
    <h3> Rechte des Nutzers </h3>

    Sie haben als Nutzer das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche personenbezogenen
    Daten über Sie gespeichert wurden. Sie haben außerdem das Recht auf Berichtigung falscher Daten und auf die
    Verarbeitungseinschränkung oder Löschung Ihrer personenbezogenen Daten. Falls zutreffend, können Sie auch Ihr Recht
    auf Datenportabilität geltend machen. Sollten Sie annehmen, dass Ihre Daten unrechtmäßig verarbeitet wurden, können
    Sie eine Beschwerde bei der zuständigen Aufsichtsbehörde einreichen.

    <br><br>
    <h3> Löschung von Daten </h3>

    Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten (z. B. Vorratsdatenspeicherung)
    kollidiert, haben Sie ein Anrecht auf Löschung Ihrer Daten. Von uns gespeicherte Daten werden, sollten sie für ihre
    Zweckbestimmung nicht mehr vonnöten sein und es keine gesetzlichen Aufbewahrungsfristen geben, gelöscht. Falls eine
    Löschung nicht durchgeführt werden kann, da die Daten für zulässige gesetzliche Zwecke erforderlich sind, erfolgt
    eine Einschränkung der Datenverarbeitung. In diesem Fall werden die Daten gesperrt und nicht für andere Zwecke
    verarbeitet.

    <br><br>
    <h3> Widerspruchsrecht </h3>

    Nutzer dieser Webseite können von ihrem Widerspruchsrecht Gebrauch machen und der Verarbeitung ihrer
    personenbezogenen Daten zu jeder Zeit widersprechen.

    Wenn Sie eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Ihrer Person gespeicherten
    personenbezogenen Daten wünschen oder Fragen bzgl. der Erhebung, Verarbeitung oder Verwendung Ihrer
    personenbezogenen Daten haben oder erteilte Einwilligungen widerrufen möchten, wenden Sie sich bitte an folgende
    E-Mail-Adresse: vincent@handex.co

    <br><br>
    <h2> Click & Cover – Euler Hermes – Datenschutz </h2>
    <br>
    <h3> Datenschutzhinweise   </h3>
    <br>
    <b>• Verantwortlicher für die Datenverarbeitung</b> <br>
    Euler Hermes Aktiengesellschaft („EHAG“) Gasstraße 27 22761 Hamburg Tel.: +49 (0) 40/88 34 - 90 00 www.agaportal.de
    Kontaktdaten des Datenschutzbeauftragten: Euler Hermes Deutschland Niederlassung der Euler Hermes
    SA Datenschutzbeauftragter der Euler Hermes Aktiengesellschaft Friedensallee 254 22763 Hamburg Tel.: +49 (0) 40/88
    34 – 13 33 E-Mail: Privacy.DE@eulerhermes.com

    <br><br><b>• Daten und Datenherkunft </b><br>
    Im Zusammenhang mit der Antragsstellung, dem Deckungsverhältnis oder Anfragen verarbeitet die EHAG personenbezogene
    Daten, die sie von Interessenten und Deckungsnehmern oder Dritten im Rahmen der Geschäftsbeziehung, soweit für die
    Erbringung unserer Dienstleistung erforderlich, erhält. Personenbezogene Daten können z. B. Ansprechpartner,
    Positionsbezeichnung, Bevollmächtigter, Legitimationsdaten, Telefonnummer, Email-Adresse, ggf. Portalkontodaten,
    Bonitätsinformationen (auch über Auskunfteien) sein. Die personenbezogenen Daten werden dabei zur Abwicklung
    sämtlicher Vorgänge, die den Verantwortlichen, Interessenten, Antragsteller, Deckungsnehmer oder sonstige Beteiligte
    betreffen, verarbeitet.

    <br><br><b>• Zweck und Rechtsgrundlagen der Datenverarbeitung </b><br>
    Die Verarbeitung der personenbezogenen Daten dient dem Zweck der Erfüllung vorvertraglicher Maßnahmen (z. B. der
    Antragsbearbeitung oder der Bearbeitung von Anfragen zu den Exportkreditgarantien oder Garantien für Ungebundene
    Finanzkredite („UFK-Garantie“)) oder dem Zweck der Erfüllung eines Vertrages, dessen Vertragspartei die betroffene
    Person ist (Art. 6 Abs. 1b DSGVO). Ferner können die Datenverarbeitungsvorgänge aufgrund der Einwilligung der
    betroffenen Person für einen oder mehrere bestimmte(n) Einwilligungszweck(e) erfolgen, sofern die Einwilligung nicht
    widerrufen wurde (Art. 6 Abs. 1a DSGVO). Darüber hinaus kann die Datenverarbeitung zur Wahrung der berechtigten
    Interessen der EHAG oder eines Dritten erforderlich sein, sofern nicht die Interessen oder Grundrechte und
    Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen (Art. 6 Abs. 1f
    DSGVO).

    <br><br><b>• Empfänger oder Kategorien von Empfängern der personenbezogenen Daten </b><br>
    Zugriff auf personenbezogene Daten haben die Mitarbeiter der EHAG. Des Weiteren erhalten diejenigen Stellen Zugriff
    auf personenbezogene Daten, die diese zur Erfüllung unserer vertraglichen und gesetzlichen Pflichten brauchen. Es
    kommt dabei nicht darauf an, ob eine Exportkreditgarantie oder eine UFK-Garantie tatsächlich übernommen wird.
    Empfänger können insbesondere die mit der Übernahme der Bundesdeckungen befassten öffentlichen Stellen (z. B.
    Bundesministerium für Wirtschaft und Energie und Bundesfinanzministerium) und die vom Bund in die
    Außenwirtschaftsförderung eingebundenen nicht-öffentlichen Stellen sein. Darüber hinaus können beispielsweise
    Beteiligte im Rahmen des Deckungsverhältnisses, bei Eintritt eines Gewährleistungsfalls, im Regress- oder
    Restrukturierungverfahren sowie beteiligte Rückversicherer Empfänger von personenbezogenen Daten sein.

    <br><br><b>• Dauer der Speicherung </b><br>
    Die EHAG verarbeitet und speichert die personenbezogenen Daten, solange es für die Erfüllung der vertraglichen und
    gesetzlichen Pflichten (einschließlich der Erfüllung gesetzlicher Aufbewahrungsfristen oder der Wahrung von
    Verjährungsfristen) des Unternehmens erforderlich ist. Nach Ablauf dieser Fristen werden die entsprechenden Daten
    regelmäßig gelöscht.

    <br><br><b>• Betroffenenrechte </b><br>
    Jeder Betroffene hat die Rechte gemäß Artt. 15 – 21 DSGVO. Dies betrifft beispielsweise das Recht auf Auskunft (Art.
    15 DSGVO), Berichtigung (Art. 16 DSGVO), Löschung (Art. 17 DSGVO), Einschränkung der Verarbeitung (Art. 18 DSGVO),
    Datenübertragung (Art. 20 DSGVO) sowie auf Widerspruch gegen die Verarbeitung ihn betreffender personenbezogener
    Daten (Art. 21 DSGVO). Diese Rechte können jederzeit über unseren Datenschutzbeauftragten geltend gemacht werden.
    Eine Einschränkung dieser Rechte kann sich aus gesetzlichen Bestimmungen ergeben.
    Sollte der Betroffene eine Einwilligung zur Verarbeitung personenbezogener Daten für bestimmte Zwecke erteilt haben,
    kann diese jederzeit mit Wirkung für die Zukunft widerrufen werden (Art. 7 Abs. 3 DSGVO).
    Daneben können Betroffene sich an die für die EHAG zuständige Datenschutzaufsichtsbehörde wenden, den Hamburgischen
    Beauftragten für Datenschutz und Informationsfreiheit (Art. 77 DSGVO).

    <br><br><br><br>

</div>