<section id="SECTION_84">
    <div id="DIV_85">

        <div id="DIV_86">
            <div id="DIV_87">
                Terms And Conditions
            </div>
        </div>

        Ihre Privatsphäre ist uns wichtig. Bei HandEX möchten Sie sicher sein, dass die Informationen, die Sie uns bei
        der Nutzung unserer Website geben, sicher sind. In dieser Datenschutzerklärung erklären wir Ihnen, wie Sie die
        bestmögliche und persönlichere Erfahrung nutzen können und warum wir Ihre persönlichen Daten sammeln, um Ihre
        Daten sicher und vertraulich zu halten.
        <b> 1. Was umfasst diese Datenschutzrichtlinie? </b>
        Dies ist die Datenschutzrichtlinie für HandEX UG (beschränkte Haftung), "HANDEX", die Website von HANDEX "The
        Site" und unsere Tools.
        Wir sammeln, verwenden und schützen Ihre persönlichen Daten. Der Datenverwalter ist die HANDEX UG (in dieser
        Richtlinie als "wir", "uns" oder "unser" bezeichnet). Wir möchten Ihnen auf der Seite eine bessere und
        persönlichere Erfahrung bieten.
        Unsere Datenschutzrichtlinie erklärt:
        ♣ die persönlichen Informationen, die wir sammeln;
        ♣ wie und warum wir Ihre persönlichen Daten sammeln und nutzen;
        ♣ warum wir Ihre persönlichen Informationen verarbeiten;
        ♣ wann und warum möchten wir Ihre persönlichen Informationen intern oder anderen Organisationen offenlegen;
        ♣ die Rechte und Möglichkeiten, die Sie haben, wenn es um Ihre persönlichen Informationen geht;
        Warum verwenden wir Cookies?
        ♣ die Schritte, die wir unternehmen, um sicherzustellen, dass Ihre Informationen sicher und vertraulich sind;
        ♣ Wie lange werden wir Ihre Informationen aufbewahren? und
        ♣ wie Sie uns erreichen können.
        Unsere Website enthält Links zu Websites von Drittanbietern, die nicht dieser Datenschutzrichtlinie unterliegen.
        Jede Website von Dritten, wir können keine Verantwortung oder Haftung für diese Websites Dritter übernehmen.

        <br><br>

        <b> 2. Persönliche Informationen, die wir über Ihr Unternehmen sammeln </b>
        ♣ Wenn Sie sich für das HANGE Update anmelden, senden Sie uns eine E-Mail mit Ihrer E-Mail-Adresse und Ihrem
        Namen
        ♣ Wenn Sie sich für ein Produkt von HANDEX Finance registrieren, müssen Sie uns Ihre E-Mail-Adresse, Ihren
        Namen, Ihre Organisation, Ihre Geschäftsfinanzierungsanforderungen und Ihre Telefonnummer mitteilen
        ♣ Wenn Sie sich über unsere Partner (z. B. Euler Hermes & Sutor Bank) für die Finanzierung registrieren,
        müssen Sie uns Ihre E-Mail-Adresse, Ihren Namen, Ihre Organisation, Ihre Anschrift, Ihre Finanzanforderungen
        und Ihre Telefonnummer mitteilen

        <br><br>


        <b> 3. Wie sammeln und nutzen wir Ihre Geschäftsinformationen? </b>
        In diesem Abschnitt wird erläutert, wie wir Ihre Geschäftsinformationen erfassen und verwenden.
        3.1. E-Mail-Nachrichten von HANDEX aktualisieren
        Wir erfassen Ihre E-Mail-Adresse und Ihren Namen, wenn Sie unsere E-Mails mit dem HANDY-Nachrichtenupdate
        erhalten. Dies ist normalerweise wöchentlich, aber zu besonderen Anlässen, wenn wir etwas wirklich
        aufregendes oder wichtiges mit Ihnen teilen möchten.
        3.2 HANDEX Finanzprodukte
        Wir erfassen Ihre persönlichen Daten von Ihnen, wenn Sie bestimmte Produkte über Formulare auf unserer
        Website anfordern. Wir verwenden dies, damit wir Ihre Anfrage verwalten können.
        Wir werden es zum Zeitpunkt der Übermittlung Ihrer Daten klarstellen. In Übereinstimmung mit Abschnitt 1
        empfehlen wir Ihnen, die Datenschutzrichtlinien dieser Dritten zu lesen.
        3.2.1. Finanzierungsberechtigung
        Wir verwenden die Geschäftsinformationen, die Sie bei der Beantragung einer Finanzierung angeben.
        Die am besten geeigneten Finanzierungsarten und -finanzierer, die Ihnen den Zugang zu kommerziellen
        Finanzierungen erleichtern. Sie können Ihre Geschäftsinformationen für Sie unter vincent@handex.co löschen.
        3.3. Bemerkungen
        Wir erfassen und verwenden Ihre E-Mail- und IP-Adresse, um Ihnen das Posten auf der Website zu ermöglichen.
        Wenn Sie sich entschieden haben, diese zu erhalten, werden wir die E-Mail-Adresse verwenden, um Sie zu
        kontaktieren. Daher verwenden wir Ihre E-Mail- und IP-Adressen für die Verwaltung, Fehlerbehebung und
        Ermittlungszwecke sowie zur Verhinderung von Spam.
        3.4. Internes Reporting, Einblick und Analyse
        3 Um aggregierte, anonymisierte Daten für interne Berichte, Einblicke und Analysen zu generieren, die es uns
        ermöglichen, unsere Website zu verbessern und zu personalisieren. Falls erforderlich, wird diese Übung von
        einem Dritten durchgeführt - siehe Abschnitt 7 unten.
        3.5. Website-Personalisierung
        Wir können die von Ihnen zur Verfügung gestellten Informationen verwenden, um persönliche Aspekte unserer
        Website zu präsentieren. In diesem Zusammenhang können wir Ihre persönlichen Informationen mit denen
        vergleichen, die von Dritten erfasst wurden. Wir arbeiten immer daran, eine bessere Seite für Sie zu
        erstellen und Ihre persönlichen Informationen auf diese Weise zu verwenden.
        3.6. Kontaktaufnahme mit Ihnen
        Wir erfassen und verwenden die Informationen, die Sie uns zur Verfügung stellen, um:
        3.6.1 kontaktieren Sie als Antwort auf die Mitteilungen, die Sie an uns gerichtet haben. Wir möchten Ihnen
        helfen können, also verwenden wir personenbezogene Daten, um Ihre Kommunikation zu klären oder zu
        unterstützen.
        3.6.2 laden Sie ein, an Umfragen, Umfragen und anderen Marktforschungsaktivitäten teilzunehmen, die von uns
        und von anderen Organisationen in unserem Auftrag durchgeführt werden. Jede Rückmeldung, die Sie angeben,
        wird nur zur Verbesserung unserer Website verwendet und nicht veröffentlicht. Wenn wir Sie jedoch
        diesbezüglich kontaktieren, müssen Sie nicht an den Aktivitäten teilnehmen.
        Wenn Sie uns die persönlichen Daten einer anderen Person zur Verfügung stellen, sollten Sie sie zuerst
        bitten, diese Datenschutzrichtlinie zu lesen. Indem Sie uns persönliche Informationen über eine andere
        Person geben, bestätigen Sie, dass Sie Ihr Einverständnis gegeben haben, uns die persönlichen Informationen
        zur Verfügung zu stellen und dass sie verstehen, wie ihre Daten verwendet werden.
        Wir werden Ihre persönlichen Informationen regelmäßig überprüfen, um sicherzustellen, dass wir sie nicht
        länger als gesetzlich erlaubt aufbewahren (siehe Abschnitt 12 unten).

        <br><br>
        <b> 4. Warum verarbeiten wir Ihre persönlichen Informationen?</b>
        Wir erheben und verwenden Ihre personenbezogenen Daten (wie in den Abschnitten 2 und 3 beschrieben) nur
        unter Beachtung der Datenschutzgesetze. Unsere Gründe für die Verarbeitung Ihrer persönlichen Daten sind wie
        folgt:
        Einwilligung - Soweit erforderlich, werden wir Ihre personenbezogenen Daten nur erheben und verarbeiten,
        wenn Sie uns zugestimmt haben.
        Berechtigte Interessen - Wir können einige Ihrer persönlichen Daten verwenden und verarbeiten, wo wir
        vernünftige und legitime geschäftliche Gründe dafür haben. Nach den europäischen Datenschutzgesetzen gibt es
        ein Konzept von "legitimen Interessen" als Rechtfertigung für die Verarbeitung Ihrer persönlichen Daten.
        Unsere legitimen Interessen für die Verarbeitung Ihrer persönlichen Daten sind:
        ♣ um Ihnen den Zugriff und die Nutzung der Site zu ermöglichen;
        ♣ das geäußerte Interesse auf der Website verfolgen;
        ♣ um mit Ihnen über Ihre Verwendung der Produkte von HANDEX zu kommunizieren; und
        ♣ um unsere Seite zu verbessern. Wir können Ihre personenbezogenen Daten dazu verwenden, demografische und
        geografische Segmentierungen vorzunehmen und anonymisierte Profiling-Informationen zu erstellen, um zu
        verstehen, woran Sie interessiert sind und um Marktforschung zu betreiben. Wir arbeiten immer daran, dass
        HANDEX eine bessere Seite für Sie wird und dass wir Ihre persönlichen Informationen auf diese Weise nutzen
        können.
        Ab Mai 2018 haben Sie das Recht, der Verwendung Ihrer personenbezogenen Daten für diese legitimen Interessen
        zu widersprechen, einschließlich eines Rechts, der Profilierung durch uns zu widersprechen (siehe Abschnitt
        8 unten).

        <br><br>

        <b> 5. Verwendung von persönlichen Informationen von Kindern </b>
        Wir sammeln oder speichern wissentlich keine persönlichen Informationen über Kinder unter 16 Jahren. Wenn
        Sie unter 16 Jahre alt sind, holen Sie bitte die Erlaubnis Ihres Elternteils oder Erziehungsberechtigten
        ein, bevor Sie uns personenbezogene Daten zur Verfügung stellen.

        <br><br>

        <b> 6. Weitergabe Ihrer persönlichen Daten an die Firma </b>
        HANDEX könnte die folgenden Informationen auf den Websites von HANDEX teilen, einschließlich:
        6.1. Jegliche persönlichen Informationen über Sie, einschließlich der Kontaktdaten (im Gegensatz zu
        aggregierten oder anonymisierten Nutzerverhaltensdaten), die wir während des Betriebs unserer Website
        erfassen, dürfen ohne Ihre Einverständniserklärung nicht von HANGEX verfolgt oder anderweitig verwendet
        werden (ausgenommen interne Berichterstattungs-, Buchhaltungs- oder Compliance-Zwecke) );
        6.2. Wenn Sie eine gesonderte Einwilligung erteilen, dass Ihre persönlichen Daten über die gesamte HANDEX
        weitergegeben werden sollen, kann diese dann dazu verwendet werden, die Formularausfüllung zu beschleunigen
        oder Ihre Erfahrung zu personalisieren oder zu verbessern, wenn Sie diese Websites dann besuchen;
        6.3. Wenn wir Sie direkt zu den Websites von HANDEX schicken oder Sie diese unabhängig besuchen, unterliegen
        Ihre persönlichen Daten den Datenschutzrichtlinien dieser Websites. und
        6.4. Alle Ihre persönlichen Informationen, einschließlich der Kontaktangaben, die während des Betriebs
        unserer Website gesammelt werden, dürfen nicht an Dritte verkauft oder für die Zwecke der unaufgeforderten
        Kommunikation von anderen Teilen von HANDEX verwendet werden.

        <br><br>

        <b> 7. Weitergabe Ihrer persönlichen Daten an andere Organisationen </b>
        Die persönlichen Informationen, die wir bei der Nutzung unserer Website sammeln, sind vertraulich. Wir
        können Ihre persönlichen Daten unter folgenden Umständen an Dritte weitergeben:
        7.1. An unsere Finanzierungspartner, wenn Sie uns die Erlaubnis geben, Ihre Daten zu teilen, damit wir Ihrem
        Unternehmen bei der Finanzierung helfen können;
        7.2. Wenn gesetzlich vorgeschrieben oder erlaubt;
        7.3. Wenn dies von einem Gericht, der BaFin oder einer anderen zuständigen Aufsichts-, Compliance-,
        Regierungs- oder Strafverfolgungsbehörde verlangt wird;
        7.4. Wenn nötig im Zusammenhang mit Gerichtsverfahren oder möglichen Gerichtsverfahren;
        7.5. Wenn das Eigentum an der gesamten oder einem Teil unserer Website übertragen wird, in welchem ​​Fall
        ein Käufer nur berechtigt wäre, diese Informationen in einer Weise zu verwenden, die mit dieser
        Datenschutzrichtlinie im Einklang steht; und

        <br><br>


        <b> 8. Wie können Sie Berechtigungen ändern? </b>
        Ihre Privatsphäre ist uns sehr wichtig. Alle E-Mails oder andere Formen der Kommunikation direkt von uns an
        Sie enthalten klare Anweisungen zum Abbestellen. Wenn Sie nicht mehr von uns kontaktiert werden möchten,
        können Sie sich an vincent@handex.co wenden.
        In Abschnitt 9 sind auch Ihre anderen Informationsrechte aufgeführt.

        <br><br>

        <b> 9. Ihre Informationsrechte und -pflichten </b>
        9.1. Sie haben bereits bestimmte Rechte im Rahmen der geltenden Datenschutzgesetze, einschließlich eines
        Rechts, eine Kopie der persönlichen Informationen anzufordern, die wir bei Ihnen besitzen, wenn Sie dies
        schriftlich beantragen. Ab dem 25. Mai 2018 haben Sie folgende Rechte:
        9.1.1. Recht auf Berichtigung: das Recht, Ihre persönlichen Informationen korrigieren zu lassen, wenn sie
        ungenau oder unvollständig sind;
        9.1.2. Recht auf Löschung: das Recht, zu verlangen, dass wir Ihre persönlichen Daten aus unseren Systemen
        löschen oder löschen;
        9.1.3. Das Recht, die Verwendung Ihrer Daten zu beschränken: das Recht, uns die Verwendung Ihrer
        persönlichen Daten zu blockieren oder die Art und Weise zu beschränken, in der wir sie verwenden können;
        9.1.4. Recht auf Datenübertragbarkeit: das Recht zu verlangen, dass wir Ihre personenbezogenen Daten
        verschieben, kopieren oder übertragen;
        9.1.5. Widerspruchsrecht: das Recht, der Verwendung Ihrer persönlichen Daten, einschließlich derjenigen, an
        denen wir sie für unsere legitimen Interessen verwenden, oder wenn wir Ihre persönlichen Informationen zur
        Profilierung unserer Marktforschung und demografischen Informationen unserer Nutzer verwenden, zu
        widersprechen. Wenn Sie Einwände erheben, werden wir Ihre personenbezogenen Daten nicht weiter verarbeiten,
        es sei denn, es liegen außergewöhnliche Umstände vor. In diesem Fall teilen wir Ihnen mit, warum wir Ihre
        personenbezogenen Daten weiterhin verarbeiten.
        Wir werden angemessene Anstrengungen unternehmen, die unserer gesetzlichen Verpflichtung entsprechen, Ihnen
        Ihre Rechte in Übereinstimmung mit den Datenschutzgesetzen zu gewähren.
        9.2. Um Anfragen zu stellen, sollten Sie Ihre in dieser Datenschutzerklärung dargelegten Rechte geltend
        machen und / oder eine Beschwerde einreichen. Bitte wenden Sie sich an vincent@handex.co oder schreiben Sie
        an den Datenschutzbeauftragten der Firma HANDEX im betahaus, Eifflerstraße 43, 22769 Hamburg.
        9.3. Wenn Sie nicht mit der Art und Weise zufrieden sind, wie eine Beschwerde in Bezug auf Ihre persönlichen
        Daten von uns bearbeitet wird, können Sie Ihre Beschwerde möglicherweise an die zuständige
        Datenschutzbehörde weiterleiten.

        <br><br>


        <b> 10. Kekse </b>
        10.1. Wir verwenden Cookies (Dateien, die von uns an Ihren Computer oder ein anderes Zugangsgerät gesendet
        werden) und Tracking-Technologie, um die Funktionalität und Leistung unserer Website zu verbessern.
        10.2. Die Informationen aus unserer Verwendung von Cookies werden gesammelt, um statistische Informationen
        über die Nutzung unserer Website bereitzustellen. Wir verwenden jedoch keine Informationen aus Cookies oder
        IP-Adressen, die wir sammeln, um einzelne Nutzer unserer Website zu identifizieren.
        10.3. Einige Drittanbieter-Technologien, die wir verwenden (z. B. eingebettete Videos, Social Sharing),
        löschen ebenfalls Cookies, um Ihre Erfahrung auf ihren Websites zu verbessern.
        10.4. Weitere Informationen zu den von uns verwendeten Cookies, Informationen zum Speichern von Cookies oder
        zum Löschen bereits gespeicherter Cookies finden Sie in unseren Cookie-Richtlinien.


        <br><br>

        <b> 11. Halten Sie Ihre persönlichen Daten sicher </b>
        11.1. Es ist uns sehr wichtig, Informationen über Sie geheim zu halten. Daher speichern und verarbeiten wir
        Ihre persönlichen Daten gemäß den hohen Standards, die im Rahmen der Datenschutzgesetzgebung gefordert
        werden. Von Zeit zu Zeit und aus betrieblichen Gründen können die persönlichen Daten, die wir von Ihnen
        erhalten, in Länder außerhalb des Europäischen Wirtschaftsraums ("EWR") übertragen und dort gespeichert
        werden. Ihre Daten können auch von einigen unserer Service Provider verarbeitet werden, die außerhalb des
        EWR tätig sind. Verschiedene Länder haben unterschiedliche Datenschutz- und Sicherheitsgesetze, und einige
        davon bieten nicht das gleiche Schutzniveau, wie Sie es in den deutschen Datenschutzgesetzen genießen. Wenn
        wir jedoch unsere Dienstleister dazu berufen, uns bei der Bereitstellung von Produkten und Dienstleistungen
        für Sie zu unterstützen (wozu auch einige mit Sitz in den USA gehören), achten wir darauf, dass angemessene
        Sicherheitsmaßnahmen getroffen werden.
        11.2. Wir tun unser Bestes, um die Informationen, die Sie uns mitteilen, sicher zu speichern. Wir können
        jedoch keine Garantie für die Sicherheit übernehmen. Durch die Nutzung unserer Website akzeptieren Sie die
        inhärenten Risiken der Online-Bereitstellung von Informationen und sind nicht verantwortlich für
        Sicherheitsverletzungen.

        <br><br>


        <b> 12. Wie lange speichern wir Ihre persönlichen Daten? </b>
        Sofern nicht eine längere Aufbewahrungsfrist gesetzlich vorgeschrieben oder zulässig ist, speichern wir Ihre
        personenbezogenen Daten nur so lange auf unseren Systemen, wie es zur Erfüllung der in dieser
        Datenschutzrichtlinie beschriebenen Zwecke erforderlich ist, oder bis Sie die Löschung beantragen. Wenn Sie
        sich nach der Registrierung für einen unserer Dienste nicht für eine angemessene Zeit (die je nach den
        Diensten, für die Sie sich registriert haben, ändern können) verwenden, werden wir Sie möglicherweise
        kontaktieren, um sicherzustellen, dass Sie weiterhin Mitteilungen erhalten von uns. Auch wenn wir Ihre
        persönlichen Daten löschen, können diese in Backup- oder Archivmedien für rechtliche, steuerliche oder
        regulatorische Zwecke verbleiben.

        <br><br>


        <b> 13. Wie man mit uns in Verbindung tritt </b>
        Unser Datenschutzbeauftragter ist der CEO von HandEX.
        Wenn Sie Fragen bezüglich der Verwendung Ihrer persönlichen Daten oder anderer damit zusammenhängender
        Fragen zum Datenschutz haben, wenden Sie sich bitte an vincent@handex.co oder schreiben Sie an den
        Datenschutzbeauftragten von HANDEX im betahaus, Eifflerstraße 43, 22769 Hamburg.

        <br><br>

        <b> 14. Änderungen </b>
        Wir können von Zeit zu Zeit Änderungen an dieser Datenschutzrichtlinie vornehmen, um Änderungen an unseren
        Datenschutzpraktiken in Übereinstimmung mit Änderungen der Gesetzgebung, der Best Practices oder der
        Website-Verbesserungen widerzuspiegeln. Wir werden Sie über diese Änderungen informieren, indem Sie sie auf
        dieser Seite veröffentlichen. Wenn die Änderungen erheblich sind, können wir Ihnen auch die neuen Daten per
        E-Mail zusenden und Ihre Einwilligung zur Durchführung dieser Änderungen einholen, wenn dies gesetzlich
        vorgeschrieben ist. Es liegt in Ihrer Verantwortung als Benutzer sicherzustellen, dass Sie über Änderungen
        auf dieser Seite informiert sind, indem Sie regelmäßig nach Änderungen suchen. Änderungen auf dieser Seite
        werden wirksam, sobald sie veröffentlicht werden.


    </div>
</section>

<footer id="FOOTER_408">
</footer>
