<%= render 'shared/navbar' %>

<div class="container valign-wrapper">
    <div class="section">
        <div class="card medium choice-card big-choice-card">
            <div class="card-title valign-wrapper">
                <%= image_tag "webid_logo.png",  style: 'height:11em;width:auto;' %>
                <div class="title-text">
                    <h5>Identification</h5>
                </div>
            </div>
            <div class="card-content center-align">
                <p> We have sent you a WebID link to the following email addresses. Please follow the webId process to complete the identification </p>
            </div>
            
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                    
                    <tr class="nested-fields">
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    </div>
</div>