<%= render 'shared/navbar' %>

<div class="container valign-wrapper">
    <div class="section">
        <div class="card medium choice-card big-choice-card">
            <div class="card-title valign-wrapper">
                <a class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:5em;width:auto;' %></a>
                <div class="title-text">
                    <h5>Identification</h5>
                </div>
            </div>
            <div class="card-content center-align">
                <p> Please check your email and follow the Webid Identification process. Thanks a lot. Once the WebID identification process is complete we will update your status on our portal. </p>
            </div>
            
        </div>
    </div>
</div>