<%= render 'shared/navbar' %>

<div class="container valign-wrapper">
    <div class="section">
        <div class="card medium choice-card big-choice-card">
            
            <div class="card-title valign-wrapper">
                <a class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:5em;width:auto;' %></a>
                <div class="title-text">
                    <h5> Legitimierungprozess </h5>
                </div>
            </div>
            
            <div class="card-content center-align">
                <p>
                    Bitte überprüfen Sie Ihr E-Mail-Postfach und folgen der Anleitung für den Legitimierungprozess mittels WebID. Es kann bis zu 30 Minuten dauern bis die E-Mail bei Ihnen eintrifft. Sobald Sie die Legitimierung mit WebID abgeschlossen haben, aktualisieren wir den Status Ihres Antrags.
                    <br>
                    Übrigens - Die persönliche Legitimierung von Geschäftsführern und Wirtschaftlich Berechtigten ist vom deutschen Geldwäschegesetz vorgeschrieben. Das Video-Identifizierungsverfahren von WebID ist die einfachste Möglichkeit, die persönliche Legitimation abzuschließen. Sie brauchen lediglich eine Webcam oder ein Smartphone.
                    <br>
                    Vielen Dank für Ihr Mitwirken.
                    
                </p>
            </div>
    
            <div class="card-action">
                <div class="col s12 center-align">
                    <a href="<%= submitted_applications_user_path(current_user.id) %>" class="btn-large z-depth-0 handex-btn btn-flat z-depth-0 validate white-text" name="action">Zurück zur Übersicht</a>
                </div>
            </div>
        </div>
    </div>
</div>