<ul class="sidebar-list">

    <br>
    <li class="sidebar-item">
        <%= link_to "Eligibility", eligibility_tradeinfo_path,  class: "sidebar-link active" %>
        <span id="exporter" class="pull-right text-babu"><i class="fa fa-check"> </i></span>
    </li>

    <br>
    <li class="sidebar-item">
        <%= link_to "Buyers", tradeinfo_buyers_path(@tradeinfo),  class: "sidebar-link active" %>
        <span id="exporter" class="pull-right text-babu"><i class="fa fa-check"> </i></span>
    </li>
    <br>

    <li class="sidebar-item">
        <%= link_to "Financials", tradeinfo_financials_path(@tradeinfo), class: "sidebar-link active" %>
        <span id="financials" class="pull-right text-babu"> <i class="fa fa-check"> </i></span>
    </li>
</ul>


