<ul class="sidebar-list">

    <br>
    <li class="sidebar-item">
        <%= link_to "Eligibility", new_buyer_path,  class: "sidebar-link active" %>
        <span id="exporter" class="pull-right text-babu"><i class="fa fa-check"> </i></span>
    </li>

    <br>
    <li class="sidebar-item">
        <%= link_to "Buyers", new_buyer_path,  class: "sidebar-link active" %>
        <span id="exporter" class="pull-right text-babu"><i class="fa fa-check"> </i></span>
    </li>
    <br>

    <li class="sidebar-item">
        <%= link_to "Financials", new_financial_path, class: "sidebar-link active" %>
        <span id="financials" class="pull-right text-babu"> <i class="fa fa-check"> </i></span>
    </li>
</ul>


