<section id="SECTION_84">
    <div id="DIV_85">
        <%= form_for @tradeinfo do |f| %>
            <div id="DIV_91">
                <div id="DIV_110">
                    <h1 id="H1_224">
                        Exporter Information
                    </h1>

                    <div id="DIV_225">
                        <div id="DIV_226">

                            <label for="user_name" id="LABEL_227">
                                Full Name
                            </label>
                            <div id="DIV_244">
                                <input type="text" id="INPUT_245" />
                            </div>
                        </div>

                        <div id="DIV_230">
                            <label for="user_email" id="LABEL_231">
                                Email
                            </label>
                            <div id="DIV_232">
                                <%= f.text_area :companyEmail, id: "INPUT_245", required: true %>
                            </div>
                        </div>

                        <div id="DIV_234">
                            <label for="user_phone" id="LABEL_235">
                                Phone
                            </label>
                            <div id="DIV_236">
                                <%= f.text_area :companyPhone, id: "INPUT_245",  required: true %>
                            </div>
                        </div>

                        <div id="DIV_238">
                            <label for="user_company" id="LABEL_239">
                                Company Name
                            </label>
                            <div id="DIV_240">
                                <%= f.text_area :companyName, id: "INPUT_245", required: true %>
                            </div>
                        </div>

                        <div id="DIV_242">

                            <label for="user_iec_code" id="LABEL_243">
                                IEC Number
                            </label>
                            <div id="DIV_244">
                                <input type="text" id="INPUT_245" />
                            </div>
                        </div>
                    </div>

                    <div id="DIV_295">
                        <a href="#details" id="A_296">Back</a>
                        <button type="submit"  value="-1" id="BUTTON_297">
                            Next
                        </button>
                    </div>

                </div>

                <div id="DIV_210">
                    <img alt="Eligibility 2" src="https://assets.dripcapital.com/static/images/eligibility-2.svg?t=1529943428" id="IMG_211" />
                </div>

                <div id="DIV_105">
                    <div id="DIV_106">
                        Collateral-backed export finance loans
                    </div>
                    <div id="DIV_107">
                        Quick approval for credit upto 1.5 million Euros
                    </div>
                    <div id="DIV_108">
                        Increase sales by offering credit
                    </div>
                </div>

            </div>
        <% end %>
    </div>
</section>
<footer id="FOOTER_408">
    <div id="DIV_409">

    </div>
</footer>