<div id="loader" style="display:none; background-color: #FEEFD9; padding-top: 5%; text-align: center;">
    <img id="myImage" , src="<%= asset_path('animated-transport-resize.gif') %>"></div><br>

<section id="SECTION_84" style="display:none">
    <div id="DIV_85">

        <div id="DIV_86">
            <div id="DIV_87">
                Unfortunately !!!
            </div>
        </div>
        <div id="DIV_88">
            <div id="DIV_89">
                <div id="DIV_90">
                    Your loan request has been rejected. <br id="BR_93"/><br id="BR_94"/><br id="BR_95"/>

                    Please contact our support at <strong id="STRONG_91">+4915751174449</strong> /
                    <strong id="STRONG_92"> asfandyar@handex.co </strong>
                    to find out what you can do to improve your chances of getting financing.
                </div>
            </div>
        </div>
        <br>
        <br>

    </div>
</section>

<script type="text/javascript">

    (function () {
        var loader = document.getElementById("loader");
        var section = document.getElementById("SECTION_84");

        show = function () {
            loader.style.display = "block";
            section.style.display = "none";
            setTimeout(hide, 3000);
        },

            hide = function () {
                loader.style.display = "none";
                section.style.display = "block";

            };
        show();
    })();

</script>

<style>

    body {
        background-color: #FEEFD9;
    }

    #SECTION_84 {
        background:  #FEEFD9;
        padding-top: 8%;
    }
</style>