<div id = "loader" style="display:none; padding-top: 20%; text-align: center"> <img id = "myImage", src = "<%= asset_path('bx_loader.gif')%>"> </div><br>


<section id="SECTION_84" style="display:none">
    <div id="DIV_85">

        <div id="DIV_86">
            <div id="DIV_87">
                Unfortunately !!!
            </div>
        </div>
        <div id="DIV_88">
            <div id="DIV_89">
                <div id="DIV_90">
                    Your loan request has been rejected. <br id="BR_93"/><br id="BR_94"/><br id="BR_95"/>

                    Please contact our support at <strong id="STRONG_91">+4915751174449</strong> /
                    <strong id="STRONG_92"> asfandyar@handex.com </strong>
                    to find out what you can do to improve your chances of getting financing.
                </div>
            </div>
        </div>
        <br>
        <br>

    </div>
</section>

<footer id="FOOTER_408" style="display:none">
</footer>

<script type="text/javascript">

    (function(){
        var loader = document.getElementById("loader");
        var section = document.getElementById("SECTION_84");
        var footer = document.getElementById("FOOTER_408");


        show = function(){
            section.style.display = "none";
            footer.style.display = "none";
            loader.style.display = "block";
            setTimeout(hide, 3000); // 5 seconds
        },

            hide = function(){
                loader.style.display = "none";
                section.style.display = "block";
                footer.style.display = "block";

            };

        show();
    })();

</script>