<section id="SECTION_84">
    <div id="DIV_85">

        <div id="DIV_86">
            <div id="DIV_87">
                Successfull Payout done !!!
            </div>
        </div>
        <div id="DIV_88">
            <div id="DIV_89">
                <div id="DIV_90">
                    Loan has been successfully paid out to <%= @tradeinfo.companyName %>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="FOOTER_408">
</footer>