<div id="DIV_76">
</div>
<div id="DIV_77">
    <div id="DIV_78">
    </div>
    <div id="DIV_79">
        <div id="DIV_80">
            Checking your eligibility
        </div>
        <div id="DIV_81">
            Please do not refresh or press back button while processing. This process usually take less than a minute
        </div>
    </div>
</div>
<div id="DIV_82">
    <div id="DIV_83">
        <section id="SECTION_84">
            <div id="DIV_85">
                <form id="FORM_86" action="https://api.dripcapital.com/business/pipeline/create_or_update" method="post">
                    <div id="DIV_91">
                        <div id="DIV_110">
                            <h1 id="H1_111">
                                Export Details
                            </h1>
                            <div id="DIV_112">
                                <div id="DIV_113">
                                    <label for="application_products" id="LABEL_114">
                                        What products do you export?
                                    </label>
                                    <div id="DIV_115">
                                        <input type="text" name="application[products]" id="INPUT_116" />
                                        <p id="P_117">
                                            We do not offer finance to fresh fruit and vegetable shipments or precious metals and stones
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="DIV_118">
                                <div id="DIV_119">

                                    <label for="application_product_category" id="LABEL_120">
                                        What is the category of products exported?
                                    </label>
                                    <div id="DIV_121">

                                        <select name="application[product_category]" id="SELECT_122">

                                            <option id="OPTION_123">
                                                Please Select
                                            </option>
                                            <option value="aeronautical" id="OPTION_124">
                                                Aeronautical Engineering Products
                                            </option>
                                            <option value="inedible" id="OPTION_125">
                                                Agro Products
                                            </option>
                                            <option value="bed_linen" id="OPTION_126">
                                                Bed Linen
                                            </option>
                                            <option value="cashews" id="OPTION_127">
                                                Cashews
                                            </option>
                                            <option value="chemicals" id="OPTION_128">
                                                Chemicals
                                            </option>
                                            <option value="coffee" id="OPTION_129">
                                                Coffee and Coffee Products
                                            </option>
                                            <option value="cosmetics" id="OPTION_130">
                                                Cosmetics
                                            </option>
                                            <option value="cotton" id="OPTION_131">
                                                Cotton Yarn
                                            </option>
                                            <option value="cotton_bags" id="OPTION_132">
                                                Cotton/Jute Bags
                                            </option>
                                            <option value="engineering" id="OPTION_133">
                                                Engineering Products
                                            </option>
                                            <option value="fmcg" id="OPTION_134">
                                                FMCGs
                                            </option>
                                            <option value="frozen_meat" id="OPTION_135">
                                                Frozen Meats
                                            </option>
                                            <option value="perishable" id="OPTION_136">
                                                Fresh Fruits and Vegetables
                                            </option>
                                            <option value="grains" id="OPTION_137">
                                                Grains &amp; Pulses
                                            </option>
                                            <option value="granites" id="OPTION_138">
                                                Granites
                                            </option>
                                            <option value="herbs" id="OPTION_139">
                                                Herbs and Spices
                                            </option>
                                            <option value="components" id="OPTION_140">
                                                Industrial Components
                                            </option>
                                            <option value="leather" id="OPTION_141">
                                                Leather Products
                                            </option>
                                            <option value="machines" id="OPTION_142">
                                                Machines and Mechanical Components
                                            </option>
                                            <option value="shrimp" id="OPTION_143">
                                                Marine - Shrimp
                                            </option>
                                            <option value="metals" id="OPTION_144">
                                                Metals
                                            </option>
                                            <option value="mineral_rubber" id="OPTION_145">
                                                Minerals / Ores
                                            </option>
                                            <option value="packaging" id="OPTION_146">
                                                Packaging Material
                                            </option>
                                            <option value="paper_products" id="OPTION_147">
                                                Paper &amp; Paper products
                                            </option>
                                            <option value="processed_foods" id="OPTION_148">
                                                Processed Packaged Foods (non-perishable)
                                            </option>
                                            <option value="garments" id="OPTION_149">
                                                Readymade Garments
                                            </option>
                                            <option value="officesupplies" id="OPTION_150">
                                                Office Supplies and Stationery
                                            </option>
                                            <option value="pharma" id="OPTION_151">
                                                Pharmaceuticals
                                            </option>
                                            <option value="plastics" id="OPTION_152">
                                                Plastics
                                            </option>
                                            <option value="rice" id="OPTION_153">
                                                Rice
                                            </option>
                                            <option value="seafood" id="OPTION_154">
                                                Seafood
                                            </option>
                                            <option value="textiles" id="OPTION_155">
                                                Textiles
                                            </option>
                                            <option value="tobacco" id="OPTION_156">
                                                Tobaccco &amp; Tobacco Products
                                            </option>
                                            <option value="tyres" id="OPTION_157">
                                                Tyres
                                            </option>
                                            <option value="wooden" id="OPTION_158">
                                                Wood, Wooden Products, Furniture
                                            </option>
                                            <option value="medical" id="OPTION_159">
                                                Surgical and Medical
                                            </option>
                                            <option value="handicraft" id="OPTION_160">
                                                Handicrafts
                                            </option>
                                            <option value="kitchen" id="OPTION_161">
                                                Kitchen and Dining
                                            </option>
                                            <option value="gems" id="OPTION_162">
                                                Gems / Jewelry
                                            </option>
                                            <option value="stones" id="OPTION_163">
                                                Precious Metals
                                            </option>
                                            <option value="explosives" id="OPTION_164">
                                                Explosive / Inflammable Items
                                            </option>
                                            <option value="software" id="OPTION_165">
                                                Software
                                            </option>
                                            <option value="service" id="OPTION_166">
                                                Services
                                            </option>
                                            <option value="others" id="OPTION_167">
                                                Others
                                            </option>
                                        </select><b id="B_168"></b>
                                    </div>
                                </div>
                            </div>
                            <div id="DIV_169">
                                <input type="hidden" name="application[pt_types_list][]" id="INPUT_170" />
                                <div id="DIV_171">

                                    <label for="application_pt_types_list" id="LABEL_172">
                                        Payment Terms
                                    </label>
                                    <div id="DIV_173">

                                        <label for="application_pt_types_list_SLC" id="LABEL_174">
                                            <input type="checkbox" value="SLC" name="application[pt_types_list][]" id="INPUT_175" /><span id="SPAN_176"><span id="SPAN_177"></span></span> Letter of Credit
                                        </label>
                                        <label for="application_pt_types_list_OA" id="LABEL_178">
                                            <input type="checkbox" value="OA" name="application[pt_types_list][]" id="INPUT_179" /><span id="SPAN_180"><span id="SPAN_181"></span></span> Open Account
                                        </label>
                                        <label for="application_pt_types_list_D/A" id="LABEL_182">
                                            <input type="checkbox" value="D/A" name="application[pt_types_list][]" id="INPUT_183" /><span id="SPAN_184"><span id="SPAN_185"></span></span> D/A
                                        </label>
                                        <label for="application_pt_types_list_D/P" id="LABEL_186">
                                            <input type="checkbox" value="D/P" name="application[pt_types_list][]" id="INPUT_187" /><span id="SPAN_188"><span id="SPAN_189"></span></span> D/P
                                        </label>
                                        <label for="application_pt_types_list_CAD" id="LABEL_190">
                                            <input type="checkbox" value="CAD" name="application[pt_types_list][]" id="INPUT_191" /><span id="SPAN_192"><span id="SPAN_193"></span></span> CAD
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="DIV_194">
                                <input type="hidden" name="application[pt_durations_list][]" id="INPUT_195" />
                                <div id="DIV_196">

                                    <label for="application_pt_durations_list" id="LABEL_197">
                                        Payment Tenor
                                    </label>
                                    <div id="DIV_198">

                                        <select name="application[pt_durations_list][]" id="SELECT_199">

                                            <option id="OPTION_200">
                                                Please Select
                                            </option>
                                            <option value="<30" id="OPTION_201">
                                                Upto 30 days
                                            </option>
                                            <option value="<60" id="OPTION_202">
                                                Upto 60 days
                                            </option>
                                            <option value="<90" id="OPTION_203">
                                                Upto 90 days
                                            </option>
                                            <option value="<120" id="OPTION_204">
                                                Upto 120 days
                                            </option>
                                            <option>
                                                120" id="OPTION_205">More than 120 days
                                            </option>
                                        </select><b id="B_206"></b>
                                    </div>
                                </div>
                            </div>
                            <p id="P_207">
                                <a href="#contact" id="A_208">Back</a> <a href="#contact" id="A_209">Next</a>
                            </p>
                        </div>

                        <div id="DIV_210">
                            <img alt="Eligibility 2" src="https://assets.dripcapital.com/static/images/eligibility-2.svg?t=1529943428" id="IMG_211" />
                        </div>

                        <div id="DIV_100">
                            <p id="P_101">
                                <span id="SPAN_102">1</span> <span id="SPAN_103">2</span> <span id="SPAN_104">3</span>
                            </p>
                        </div>

                        <div id="DIV_105">
                            <div id="DIV_106">
                                Collateral-free working capital
                            </div>
                            <div id="DIV_107">
                                Quick approval for credit upto $2 million
                            </div>
                            <div id="DIV_108">
                                Increase sales by offering credit
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<footer id="FOOTER_408">
    <div id="DIV_409">

    </div>
</footer>