<ul class="sidebar-list">

    <li class="sidebar-item">
        <%= link_to "Eligibility", eligibility_tradeinfo_path, id:"A_4",  class: "sidebar-link active"%>
        <span id="eligibility" class="pull-right text-babu"><i class="fa fa-check"> </i></span>
    </li>

    <li class="sidebar-item">

        <%= link_to "Buyers", buyers_tradeinfo_path, id:"A_4", class: "sidebar-link active" %>
        <span id="exporter" class="pull-right text-babu"><i class="fa fa-check"> </i></span>
    </li>

    <li class="sidebar-item">
        <%= link_to "Financials", financials_tradeinfo_path, id:"A_14", class: "sidebar-link active" %>
        <span id="financials" class="pull-right text-babu"> <i class="fa fa-check"> </i></span>
    </li>
</ul>
