<div id="DIV_76">
</div>
<div id="DIV_77">
    <div id="DIV_78">
    </div>
    <div id="DIV_79">
        <div id="DIV_80">
            Checking your eligibility
        </div>
        <div id="DIV_81">
            Please do not refresh or press back button while processing. This process usually take less than a minute
        </div>
    </div>
</div>
<div id="DIV_82">
    <div id="DIV_83">
        <section id="SECTION_84">
            <div id="DIV_85">
                <form id="FORM_86" action="https://api.dripcapital.com/business/pipeline/create_or_update" method="post">
                    <input name="utf8" type="hidden" value="✓" id="INPUT_87" />
                    <input name="api_token" type="hidden" value="epuxyqogfupkqizwutuoivuxaganwrsc" id="INPUT_88" />
                    <input value="exporter_lead" type="hidden" name="user[utype]" id="INPUT_89" />
                    <input type="hidden" value="None" name="user[referrer]" id="INPUT_90" />
                    <div id="DIV_91">
                        <div id="DIV_92">
                            <p id="P_93">
                                Are you an exporter?
                            </p>
                            <p id="P_94">
                                <a href="#details" id="A_95">Yes</a> <a href="#contact" id="A_96">No</a>
                            </p>
                        </div>
                        <div id="DIV_97">
                            <img alt="Eligibility 1" src="https://assets.dripcapital.com/static/images/eligibility-1.svg?t=1529943428" id="IMG_98" />
                        </div>

                        <div id="DIV_105">
                            <div id="DIV_106">
                                Collateral-free working capital
                            </div>
                            <div id="DIV_107">
                                Quick approval for credit upto $2 million
                            </div>
                            <div id="DIV_108">
                                Increase sales by offering credit
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<footer id="FOOTER_408">
    <div id="DIV_409">
    </div>
</footer>