<div id="dpc_DIV_76">
</div>
<div id="dpc_DIV_77">
    <div id="dpc_DIV_78">
    </div>
    <div id="dpc_DIV_79">
        <div id="dpc_DIV_80">
            Checking your eligibility
        </div>
        <div id="dpc_DIV_81">
            Please do not refresh or press back button while processing. This process usually take less than a minute
        </div>
    </div>
</div>
<div id="dpc_DIV_82">
    <div id="dpc_DIV_83">
        <section id="dpc_SECTION_84">
            <div id="dpc_DIV_85">
                <form id="dpc_FORM_86" action="https://api.dripcapital.com/business/pipeline/create_or_update" method="post">
                    <input name="utf8" type="hidden" value="✓" id="dpc_INPUT_87" />
                    <input name="api_token" type="hidden" value="epuxyqogfupkqizwutuoivuxaganwrsc" id="dpc_INPUT_88" />
                    <input value="exporter_lead" type="hidden" name="user[utype]" id="dpc_INPUT_89" />
                    <input type="hidden" value="None" name="user[referrer]" id="dpc_INPUT_90" />
                    <div id="dpc_DIV_91">
                        <div id="dpc_DIV_92">
                            <p id="dpc_P_93">
                                Are you an exporter?
                            </p>
                            <p id="dpc_P_94">
                                <a href="#details" id="dpc_A_95">Yes</a> <a href="#contact" id="dpc_A_96">No</a>
                            </p>
                        </div>
                        <div id="dpc_DIV_97">
                            <img alt="Eligibility 1" src="https://assets.dripcapital.com/static/images/eligibility-1.svg?t=1529943428" id="dpc_IMG_98" />
                        </div>
                        <div id="dpc_DIV_99">
                        </div>
                        <div id="dpc_DIV_100">
                            <p id="dpc_P_101">
                                <span id="dpc_SPAN_102">1</span> <span id="dpc_SPAN_103">2</span> <span id="dpc_SPAN_104">3</span>
                            </p>
                        </div>
                        <div id="dpc_DIV_105">
                            <div id="dpc_DIV_106">
                                Collateral-free working capital
                            </div>
                            <div id="dpc_DIV_107">
                                Quick approval for credit upto $2 million
                            </div>
                            <div id="dpc_DIV_108">
                                Increase sales by offering credit
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<footer id="dpc_FOOTER_408">
    <div id="dpc_DIV_409">
        <div id="dpc_DIV_410">
            <div id="dpc_DIV_411">
                <div id="dpc_DIV_412">
                    PRODUCTS<br id="dpc_BR_413" />
                </div>
                <ul id="dpc_UL_415">
                    <li id="dpc_LI_416">
                        <a href="/products/invoice-factoring" id="dpc_A_417">Invoice Factoring</a>
                    </li>
                    <li id="dpc_LI_418">
                        <a href="/products/export-finance" id="dpc_A_419">Export Finance</a>
                    </li>
                    <li id="dpc_LI_420">
                        <a href="/products/post-shipment-finance" id="dpc_A_421">Post Shipment Finance</a>
                    </li>
                    <li id="dpc_LI_422">
                        <a href="/products/non-recourse-factoring" id="dpc_A_423">Non Recourse Factoring</a>
                    </li>
                    <li id="dpc_LI_424">
                        <a href="/products/receivables-factoring" id="dpc_A_425">Receivables Factoring</a>
                    </li>
                </ul>
            </div>
            <div id="dpc_DIV_426">
                <div id="dpc_DIV_427">
                    EXPLORE<br id="dpc_BR_428" />
                </div>
                <ul id="dpc_UL_430">
                    <li id="dpc_LI_431">
                        <a href="/exporters" id="dpc_A_432">Exporters</a>
                    </li>
                    <li id="dpc_LI_433">
                        <a href="/importer-credit-program" id="dpc_A_434">Importers</a>
                    </li>
                    <li id="dpc_LI_435">
                        <a href="/investors" id="dpc_A_436">Investors</a>
                    </li>
                </ul>
            </div>
            <div id="dpc_DIV_437">
            </div>
            <div id="dpc_DIV_438">
                <div id="dpc_DIV_439">
                    HELP<br id="dpc_BR_440" />
                </div>
                <ul id="dpc_UL_442">
                    <li id="dpc_LI_443">
                        <a href="/#how-it-works" id="dpc_A_444">How It Works</a>
                    </li>
                    <li id="dpc_LI_445">
                        <a href="/support" id="dpc_A_446">FAQs</a>
                    </li>
                    <li id="dpc_LI_447">
                        <a href="/interest-calculator" id="dpc_A_448">Interest Calculator</a>
                    </li>
                </ul><br id="dpc_BR_449" /> <a href="https://fci.nl/en/home" id="dpc_A_450"><img alt="FCI" src="https://assets.dripcapital.com/static/images/fci-union-logo.svg?t=1529943428" id="dpc_IMG_451" /></a>
            </div>
            <div id="dpc_DIV_452">
                <div id="dpc_DIV_453">
                    COMPANY<br id="dpc_BR_454" />
                </div>
                <ul id="dpc_UL_456">
                    <li id="dpc_LI_457">
                        <a href="/about" id="dpc_A_458">About Us</a>
                    </li>
                    <li id="dpc_LI_459">
                        <a href="/contact" id="dpc_A_460">Contact Us</a>
                    </li>
                    <li id="dpc_LI_461">
                        <a href="/careers" id="dpc_A_462">Careers</a>
                    </li>
                </ul><br id="dpc_BR_463" />
                <div id="dpc_DIV_464">
                    <img alt="SSL Secured" src="https://assets.dripcapital.com/static/images/ssl.svg?t=1529943428" id="dpc_IMG_465" />
                </div>
            </div>
            <div id="dpc_DIV_466">
                <div id="dpc_DIV_467">
                    <div id="dpc_DIV_468">
                        <img alt="Logo" src="https://assets.dripcapital.com/static/images/drip-logo-white-tagline-e2e.svg?t=1529943428" id="dpc_IMG_469" />
                    </div>
                </div><br id="dpc_BR_470" /><br id="dpc_BR_471" />
                <div id="dpc_DIV_472">
                    <div id="dpc_DIV_473">

                        <button id="dpc_BUTTON_474">
                            USA
                        </button>
                        <p id="dpc_P_475">
                            Drip Capital Inc.<br id="dpc_BR_476" />555 Bryant St. #356,<br id="dpc_BR_477" />Palo Alto, CA 94301<br id="dpc_BR_478" /><br id="dpc_BR_479" /><a href="tel:+18448044822" id="dpc_A_480">+1-844-804-4822</a>
                        </p>
                    </div>
                    <div id="dpc_DIV_481">

                        <button id="dpc_BUTTON_482">
                            India
                        </button>
                        <p id="dpc_P_483">
                            Drip Capital Services India LLP<br id="dpc_BR_484" />1001, Embassy Chambers,<br id="dpc_BR_485" />Khar West, Mumbai 400052<br id="dpc_BR_486" /><br id="dpc_BR_487" /><a href="tel:+919987779334" id="dpc_A_488">+91-9987-779-334</a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="dpc_DIV_489">
                <p id="dpc_P_490">
                    © 2018 Drip Capital Inc. USA · <a href="/terms-of-use" id="dpc_A_491">Terms of Use</a> · <a href="/privacy-policy" id="dpc_A_492">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" id="dpc_SCRIPT_493">window.onload = function(){
    // GA Snipper
    ga('create', 'UA-54624908-2', 'auto');
    ga('send', 'pageview');

    // mixpanel.init('27651e28d00f910e16908dc42413acb7');
    mixpanel.init('27651e28d00f910e16908dc42413acb7',{"persistence": "localStorage"})
    mixpanel_register();
    onLoad();
    mixpanel_onload();

    turbolinks_load();


    $(document).on('click', '#sign-up', function() {
        mixpanel_alias($( "#user_email" ).val());
    });

};
</script><img height="1" width="1" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/942699625/?guid=ON&amp;script=0" id="dpc_IMG_494" />

<div id="dpc_DIV_496">
    <div id="dpc_DIV_497">
        <span id="dpc_SPAN_498"></span>

        <span id="dpc_SPAN_501"></span>
        <!-- react-empty: 6 -->


        <!-- react-empty: 7 -->

    </div>
</div>