<div class="index-container">
    <section class="light-day index-section">
        <div class="page-container container-fluid text-center" id="full-section" style="margin-top: 217px; margin-bottom: 217px;">
            <div class="row">
                <div class="margin-bottom-30 dark-purple heading-1 subfont col-md-12"> Thank you for requesting an
                    eligibility check
                </div>
            </div>
            <div class="row margin-bottom-10">
                <div class="col-md-8 col-md-offset-2">
                    <div>Our Export Finance Advisor will contact you within 2 business days. For urgent queries, please
                        contact us on <strong>+49-15751174449</strong> / <strong>asfandyar@handex.com</strong><br><br><br>
                        We will contact the importer on your behalf to get further information if required
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>