<section id="SECTION_84">
    <div id="DIV_85">

        <div id="DIV_86">
            <div id="DIV_87">
                Thank you for requesting an eligibility check
            </div>
        </div>
        <div id="DIV_88">
            <div id="DIV_89">
                <div id="DIV_90">
                    Our Export Finance Advisor will contact you within 2 business days. For urgent queries, please contact us on <strong id="STRONG_91">+4915751174449</strong> / <strong id="STRONG_92"> asfandyar@handex.com </strong><br id="BR_93" /><br id="BR_94" /><br id="BR_95" />

                    You can continue filling our application form while we get back to you
                </div>
            </div>
        </div>

        <br>
        <br>

        <div id="DIV_88">
                <button type="submit" name="application[stage]" value="-1" id="BUTTON_298">
                    PROCEED
                </button>
        </div>



    </div>
</section>

<footer id="FOOTER_408">
</footer>