<h1>New Invoice </h1>

<%#= link_to 'Back', documents_path %>


<%= form_for @document, url: documents_path, html: { multipart: true } do |form| %>
    <%= form.submit value: 'OCR machen' %>
<% end %>