<div class="panel panel-default">
    <div class="panel-heading">
        Insert the Documents
    </div>
    <div class="panel-body">
        <div class="container">

            <%= form_for @document do |f| %>

                <div class="row">
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Document Type</label>
                            <%= f.select :document_type, [["Invoice", "Invoice"], ["Bilanz", "Bilanz"], ["Bilanz", "Bilanz"],
                                                          ["BWA", "BWA"], ["BWA", "BWA"], ["OP Liste Kreditoren + Debitoren", "OP Liste Kreditoren + Debitoren"],
                                                          ["Bankenspiegel (optional)", "Bankenspiegel (optional)"], ["Finanzamt Unbedenklichkeit (optional)", "Finanzamt Unbedenklichkeit (optional)"]],
                                         id: "document_type", prompt: "Select...", class: "form-control" %>
                        </div>
                    </div>

                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Year</label>
                            <%= f.select :year, [["2016", "2016"], ["2017", "2017"], ["2018", "2018"]],
                                         id: "year", prompt: "Select...", class: "form-control" %>
                        </div>
                    </div>

                </div>

                <div><%= f.submit "Insert Document", class: "btn btn-normal" %></div>

            <% end %>

        </div>
    </div>
</div>