<div class="container" align="center">
    <h1> Invoice Listing </h1>
<br><br><br>
<%#= link_to 'Back', documents_path %>

    <%= form_for @document, url: documents_path, html: { multipart: true } do |form| %>

      <div class="col-md-6 col-md-offset-3">
          <%= form.submit value: 'OCR on WeWork Invoice', class: "btn btn-green btn-block"  %>

          <%#= form.submit "OCR on Hannover Messe Invoice", class: "btn btn-green btn-block" %>

<!--          <input type='button' class='btn btn-green btn-block' name='next' />-->

<!--          <a href= <%#= extract_document_path(@document.id) %> >-->
<!--              <button>Visit Google</button>-->
<!--          </a>-->
      </div>

<% end %>

<!--    extract_document_path(@document)-->



</div>