<p id="notice"><%= notice %></p>

<h1>Invite Exporters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invite_exporters.each do |invite_exporter| %>
      <tr>
        <td><%= link_to 'Show', invite_exporter %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite Exporter', new_invite_exporter_path %>
