<div class="form-progress">
  <div class="container">
    <div class="col s12 m12">
      <ul class="progressbar">
        <li class="active waves-effect" tab_index="1">Unternehmen</li>
        <li tab_index="2" class="inactive waves-effect">Kunde</li>
        <li tab_index="3" class="inactive waves-effect">Geschäft</li>
        <li tab_index="4" class="inactive waves-effect">Zahlung & Finanzierung</li>
        <li tab_index="5" class="inactive waves-effect">Abschluss</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <%= form_with(model: credit, local: true, html: {multipart: true}, id: "credit-portal") do |form| %>

      <% if credit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from
            being saved:</h2>
          <ul>
            <% credit.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="form-section z-depth-1">

      </div>
      </div>

    <% end %>
    </div>

<script type="text/javascript">

</script>