<div class="col s12 m3">
    <div class="card">
        <div class="card-title approved_financing_application white-text valign-wrapper">
            <div class="valign-wrapper">
                <i class="custom_icon check-icon"></i>
                <div>
                    <strong>Antrag genehmigt</strong>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="valign-wrapper">
                <div>
                    <i class="custom_icon import-icon"></i>
                </div>
                <div>
                    <label for="output_importer">IMPORTEUR</label>
                    <p id="output_importer">Aafalot Ltd. & Co. Industrieausrüstung</p>
                </div>
            </div>
            <div class="valign-wrapper">
                <i class="custom_icon box-icon"></i>
                <div>
                    <label for="output_product">PRODUKT</label>
                    <p id="output_product">Textilmaschine</p>
                </div>
            </div>
            <div class="valign-wrapper">
                <i class="custom_icon money-icon"></i>
                <div>
                    <label for="output_value">AUFTRAGSWERT</label>
                    <p id="output_value">&euro; 240,000</p>
                </div>
            </div>
            <div class="valign-wrapper">
                <i class="custom_icon send-icon"></i>
                <div>
                    <label for="output_application_date">VERSENDET AM</label>
                    <p id="output_application_date">21. März 2019</p>
                </div>
            </div>
        </div>
        <div class="card-action center">
            <a href="#">Zusammenfassung Ansehen</a>
        </div>
    </div>
</div>


<!--<div class="col s12 m3">-->
<!--    <div class="card">-->
<!--        <div class="card-title approved_financing_application white-text valign-wrapper">-->
<!--            <div class="valign-wrapper">-->
<!--                <i class="custom_icon check-icon"></i>-->
<!--                                            <i class="material-icons left">check</i>-->
<!--                <div>-->
<!--                    <strong>Antrag genehmigt</strong>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card-content">-->
<!--            <div class="valign-wrapper">-->
<!--                <div>-->
<!--                    <i class="custom_icon import-icon"></i>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="output_importer"><%#= t('importer') %></label>-->
<!--                    <p id="output_importer"><%#= insurance.importer_company_name %></p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="valign-wrapper">-->
<!--                <div>-->
<!--                    <i class="custom_icon import-icon"></i>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="output_importer"><%#= t('destination_country') %></label>-->
<!--                    <p id="output_importer"> <%#= insurance.importer_country %></p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="valign-wrapper">-->
<!--                <i class="custom_icon box-icon"></i>-->
<!--                <div>-->
<!--                    <label for="output_product"><%#= t('product') %></label>-->
<!--                    <p id="output_product"><%#= insurance.exported_goods_type %></p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="valign-wrapper">-->
<!--                <i class="custom_icon money-icon"></i>-->
<!--                <div>-->
<!--                    <label for="output_value"><%#= t('contract_value') %></label>-->
<!--                    <p id="output_value">-->
                        <%# if insurance.contract_value %>
<!--                            <div class="col s6">-->
<!--                                &euro; <%#= insurance.contract_value %>-->
<!--                            </div>-->
                        <%# else %>
<!--                            <div class="col s6 text-red">-->
<!--                                MISSING-->
<!--                            </div>-->
                        <%# end %>
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="valign-wrapper">-->
<!--                <i class="custom_icon send-icon"></i>-->
<!--                <div>-->
<!--                    <label for="output_application_date"><%#= t('application_sent_at') %></label>-->
<!--                    <p id="output_application_date"> <%#= insurance.updated_at.strftime('%d %b %Y') %> </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card-action center">-->
            <%# if can_edit %>
                <%#= link_to "Update", edit_insurance_path(insurance.user_id) %>
            <%# else %>
                <%#= link_to t('see_summary_of_application'), user_summary_insurance_path(insurance.id), target: :_blank %>
            <%# end %>
<!--        </div>-->
<!--    </div>-->
<!--</div>-->