<div class="overview-top draft">
  <div class="row">
    <div class="col s6 ">
      <%= link_to :back do %>
        <i class="material-icons">arrow_back</i>
      <% end %>
    </div>
    <div class="col s6">
      <div class="valign-wrapper">
        <i class="custom_icon reciept-icon-white"></i>
        <div>
          <strong><%= t('draft_application') %></strong>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="valign-wrapper">
        <%= form_for(@export_application, local: true, html: {multipart: true}, id: "export-application-portal") do |form| %>
          <%= link_to 'Edit', edit_export_application_path(@export_application), class: "btn handex-btn z-depth-0" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
