<% if @export_application.application_status == "SUBMITTED" %>
  <div class="overview-top submitted">
    <div class="row">
      <div class="col s6 ">
        <%= link_to :back do %>
          <i class="material-icons">arrow_back</i>
        <% end %>
      </div>
      <div class="col s6">
        <div class="valign-wrapper">
          <i class="material-icons">timer</i>
          <div>
            <strong><%= t('application_sent') %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
<% elsif @export_application.application_status == "DRAFT" %>
  <div class="overview-top draft">
    <div class="row">
      <div class="col s6 ">
        <%= link_to :back do %>
          <i class="material-icons">arrow_back</i>
        <% end %>
      </div>
      <div class="col s6">
        <div class="valign-wrapper">
          <i class="custom_icon reciept-icon-white"></i>
          <div>
            <strong><%= t('draft_application') %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>