<div class='row'>
  <div class="col-md-8 col-md-offset-2">
    <label><%= question %></label>
  </div>
  <div class="col-md-2 text-babu">
    <%= check_missing(answer) %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr>
  </div>
</div>
