<div class='row'>
    <div class="col-md-8 col-md-offset-1">
        <p><%= question %></p>
    </div>
    <div class="col-md-3 text-babu">
        <%= check_missing(answer) %>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <br>
    </div>
</div>
