/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require css/animate
 *= require css/main
 *= require css/owl.carousel
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

@font-face {
  font-family: "Handel Becker Light";
  src: asset-data-url('Handel_Becker_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: "assistant, sans-serif";
  font-size: 16px;
}

.down {
  //border-top: 2px solid rgba(243, 243, 243, 0.5);
  padding-top: 40px;
  z-index: 1;
  position: absolute;
  width: 96%;
  left: 2%;
  bottom: 50px;
}

.down a {
  color: rgb(9, 208, 183);
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  text-shadow: 2px 2px 2px #000;
}

a {
  color: #00A699;
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 992px) {

  a {
    color: #00A699;
    font-size: 16px;
  }

  .landing-header nav .main-menu a {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

.container {
  width: 80%;
}

.text-babu, .icon-babu {
  color: rgb(9, 208, 183);
}

.text-red, .icon-red {
  color: #FF5A5F;
}

// NAVBARS
.navbar-header {
  float: left;
}

.nav > li {
  position: relative;
  display: inline;
}

.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color: black;
  text-align: center;
  display: inline-block;
}

.navbar-text {
  float: right;
  margin-top: 20px;
}

// BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn-green {
  background-color: rgb(9, 208, 183);
  font-size: 22px;
}

.btn-green:active {
  background-color: rgb(9, 208, 183);
}

.btn-green:hover, .btn-green:focus {
  color: #fff;
  background-color: rgb(179, 6, 25);
}

.btn-gray {
  background-color: rgb(107, 107, 111);
  font-size: 22px;
}

.btn-gray:active {
  background-color: rgb(9, 208, 183);
}

.btn-gray:hover, .btn-gray:focus {
  color: #fff;
  background-color: rgb(179, 6, 25);
}

@media (max-width: 1199px) {
  .btn-green {
    background-color: rgb(9, 208, 183);
    font-size: 18px;
  }

  .btn-green:active {
    background-color: rgb(9, 208, 183);
  }

  .btn-green:hover, .btn-green:focus {
    color: #fff;
    background-color: rgb(179, 6, 25);
  }

  .btn-gray {
    background-color: rgb(9, 208, 183);
    font-size: 18px;
  }

  .btn-gray:active {
    background-color: rgb(9, 208, 183);
  }

  .btn-gray:hover, .btn-gray:focus {
    color: #fff;
    background-color: rgb(179, 6, 25);
  }
}

.btn {
  color: #fff;
  border-radius: 5px;
  padding: 9px 15px;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #e00007;
  background-color: #e00007;
}

.btn.btn-form {
  border: 1px solid rgb(9, 208, 183);
  background-color: rgb(9, 208, 183);
}

.btn.btn-form:active {
  outline: none;
  border-color: rgb(9, 208, 183);
  background-color: rgb(9, 208, 183);
}

.btn.btn-facebook {
  border: 1px solid #3B5998;
  background-color: #3B5998;
}

.btn.btn-facebook:active {
  outline: none;
  border-color: #2d467b;
  background-color: #2d467b;
}

// PANELS
.panel-default .panel-heading {
  color: #ffffff;
  background-color: rgb(9, 208, 183);
  font-size: 18px;
  font-weight: 400;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

//AVATAR
.avatar-small {
  width: 28px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

// FORMS
.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

.form-group input {
  height: 45px;
  border: 1px solid rgb(4, 166, 238);
}

.form-group textarea {
  border: 1px solid rgb(4, 166, 238);
}

.form-group select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid rgb(4, 166, 238);
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari & Chrome */
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: rgb(4, 166, 238);
  top: 35px;
  right: 30px;
  transform: scale(0.94, 0.62);
}

.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid rgb(4, 166, 238);
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-group input[type="checkbox"]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: rgb(4, 166, 238);
}

// SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

// PHOTO UPLOAD
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

.vertical-align {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .howitworksfancy {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .howitworks {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .benefitsfancy {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .benefits {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .supportfancy {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .support {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .supportfancy {
    display: none;
  }
}

.alert {
  padding: 0;
  margin-bottom: 0;
}