// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  color: #fff;
  font-size: 68px;
  font-size: 5.5vw;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 8px;
}

h1 span:nth-child(6) {
  margin-right: 30px;
}

h2 {
  font-weight: 500;
  font-size: 27px;
  font-size: 2vw;
  margin: 0 auto;
  width: 100%;
  //text-align: center;
}

.subtitle span {
  opacity: 0;
}

ul {
  list-style: none;
  display: block;
}

a {
  color: #fd3267;
}

.wrapper {
  min-height: 500px;
}

.logo {
  position: relative;
  width: 100%;
}

ul.countdown {
  opacity: 0;
  margin-top: 40px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
}

ul.countdown li {
  display: inline-block;
  margin-right: 3%;
  text-align: center;
}

ul.countdown li span {
  font-size: 72px;
  font-size: 5.8vw;
  width: 150px;
  letter-spacing: 5px;
  font-weight: 300;
  color: #fff;
}

ul.countdown li p {
  font-size: 18px;
  margin-bottom: 0;
}

ul.countdown li:last-child {
  margin-right: 0;
}

.time_ref {
  color: #e97b97
}