@font-face {
  font-family: "OpenSans-Regular";
  src: asset-url('open-sans.regular.ttf') format('truetype');
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: asset-url('open-sans.semibold.ttf') format('truetype');
}

@font-face {
  font-family: "Nunito-Bold";
  src: asset-url('nunito-bold.ttf') format('truetype');
}

@font-face {
  font-family: "Nunito-Light";
  src: asset-url('nunito-light.ttf') format('truetype');
}

@font-face {
  font-family: "Nunito-Regular";
  src: asset-url('nunito-regular.ttf') format('truetype');
}

textarea {
  font-family: OpenSans-Regular, serif;
}

body {
  background: #f6f7fa;
  font-family: OpenSans-Regular, serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;

  .sign-in {
    padding-top: 15%;
    color: #000000;
    padding-bottom: 15%;
  }

  .standard {
    padding-top: 9%;
    color: #000000;
    padding-bottom: 9%;
  }

  .registration {
    padding-top: 4%;
    color: #000000;
    padding-bottom: 10%;
  }

  .profile {
    padding-top: 3%;
    color: #000000;
    padding-bottom: 5%;
  }

  .form-section {
    background: #fff;
    border-radius: 2px;
    padding-bottom: 10px;

    .form-content {
      width: 75%;
      margin: 0 auto;
    }
  }
}

label {
  font-size: 16px;
  font-weight: 600;
  height: 23px;
  color: #000000;
  font-family: OpenSans-SemiBold, serif;
}

.btn, .btn-large, .btn-small, .btn-flat {
  border-radius: 5px;
}

.summary {
  font-size: 16px;
  font-weight: 600;
  height: 23px;
  color: #9e9e9e;
}

.card-header {
  color: rgb(255, 255, 255);
  font-family: Nunito-Bold, serif;
  font-size: 16px;
  font-weight: bold;
  height: 16px;
  letter-spacing: 0px;
  width: 253px;
}

.valign-wrapper {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  font-family: OpenSans-Regular, serif;
}

.bold-font {
  font-weight: bold;
}

a {
  font-size: 16px;
  font-weight: normal;
  height: 50px;
  letter-spacing: 0px;
  font-family: OpenSans-Regular, serif;
}

strong {
  font-size: 16px;
  font-weight: normal;
  height: 50px;
  letter-spacing: 0px;
  font-family: OpenSans-Regular, serif;
}

h2 {
  font-family: HandelBeckerLight, serif;
}

h3 {
  font-family: HandelBeckerLight, serif;
}

.custom-form {
  .input-field {
    label {
      position: relative;
      left: 0;
      top: -5px;
      color: #333;
      font-weight: 600;
    }
  }

  #submit {
    width: 100%;
    color: #fff;
    font-weight: 600;
  }
}

.form-content {
  .nopadding {
    padding-left: 0px;
  }

  .greybox {
    background: #ebebeb;
  }

  .input-field {

    input, textarea {
      background-color: white;
    }

    input[type="submit"] {
      background: #47e1c1;
      color: #fff;
    }

    label {
      position: relative;
      left: 0;
      top: -5px;
      color: #333;
      font-weight: 600;
      height: 23px;
      font-size: 16px;
      letter-spacing: 0px;
      font-family: OpenSans-SemiBold, serif;

      span {
        padding: 7px 35px;
        border: 1px solid #d6d0d0;
        font-weight: bold;
        font-size: 16px;
        height: auto !important;
        border-radius: 4px;
      }

      span span {
        padding: 0;
        border: 0;
      }

      span.active-btn span {
        color: white;
      }

      span:before {
        opacity: 0;
      }

      span:after {
        opacity: 0;
      }

      .terms {
        border: 0px !important;
      }

      .terms:before {
        opacity: 1 !important;
      }
    }

    .custom-area {
      height: 120px !important;
    }

    .active-btn {
      span {
        color: #2541b2;
      }
    }

    input {
      border: 1px solid #dcdcde;
      -moz-box-shadow: inset 0 0 4px #dcdcde;
      -webkit-box-shadow: inset 0 0 4px #dcdcde;
      box-shadow: inset 0 0 4px #dcdcde;
    }

    textarea {
      border: 1px solid #dcdcde;
      -moz-box-shadow: inset 0 0 4px #dcdcde;
      -webkit-box-shadow: inset 0 0 4px #dcdcde;
      box-shadow: inset 0 0 4px #dcdcde;
      border-radius: 5px;
    }
  }

  span.active-btn {
    background-color: #2541b2;
    color: white;
  }

  span.active-btn:hover {
    background-color: #dddddd;
    color: #2541b2;
  }

  select {
    display: block;
    margin-bottom: 10px;
    font-family: OpenSans-Regular, serif;
  }

  .hide-section {
    display: none;
    background: #f9f9fa;
    padding: 15px 10px;
    margin-top: 30px;
  }

  .yes-no-btns {
    display: inline-block;
    cursor: pointer;
    padding: 7px 35px;
    min-width: 130px;
    text-align: center;
    margin-right: 3px;
  }

  .yes-no-btns:hover {
    color: #ffff;
    background-color: #2541b2;
  }

  .no-btn {
    cursor: pointer;
    height: 40px
  }

  .threecol {
    padding: 10px !important;
    border: 1px solid #eeeeee;
    min-height: 95px !important;
    margin: 10px;
    max-width: 30% !important;
    color: white;
  }

  .threecol.btn {
    border: 0;
    background-color: #d6d0d0;
    border-color: #d6d0d0;
    color: white;
  }

  .threecol.btn:hover {
    background-color: #2541b2;
    color: white;
    border: 0;

    label {
      color: white;
    }
  }

  .threecol.btn.active_selection_card {
    background-color: #2541b2;
    color: white;
    border: 0;

    label {
      color: white;
    }
  }


}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

form.col.s12.custom-form {
  background: #fff;
  padding: 15px 15px 0;
  border-radius: 5px;
}


.form-section {
  .form-nav-top {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
  }

  .step_2, .step_3, .step_4, .step_5 {
    display: none;
  }
}

.form-nav {
  h2 {
    color: #2541b2;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 0px;
    text-align: center;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0px;
  }

  span {
    font-size: 10px;
    font-weight: bold;
    height: 35px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 20px;
  }

  p {
    margin: 0;
  }

  a {
    font-size: 10px;
    font-weight: bold;
    color: #333;
    height: 35px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #333;
    padding: 10px 15px;
    border-radius: 2px;
  }

  .next {
    background: #2541b2;
    border-color: #2541b2;
    color: #fff;
    padding: 11px 15px;
    cursor: pointer;
    border-radius: 5px;
  }

  .next:hover {
    background: #2541b2;
    border-color: #2541b2;
  }
}

.form-progress {
  background: #f6f7fa;

  .progressbar {
    counter-reset: step;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 25px;
    height: 75px;
    padding: 15px;

    li {
      list-style: none;
      display: inline-block;
      width: 18.33%;
      position: relative;
      text-align: center;
      cursor: pointer;
      z-index: 99;
      color: grey;
      font-weight: bold;
    }

    li:hover {
      color: #2541b2;
    }

    li:before {
      content: " ";
      counter-increment: step;
      width: 15px;
      height: 15px;
      line-height: 30px;
      border: 1px solid #ddd;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      //margin-left: 0;
      background-color: #fff;
      //z-index: -1;
    }

    li:after {
      content: '';
      width: 96.5%;
      border-top: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
      position: absolute;
      left: -49%;
      z-index: 0;
      height: 5px;
      top: 11%;
      background-color: white;
    }

    li:before:hover {
      background: #2541b2;
    }

    li:first-child:after {
      content: none;
    }

    li.active {
      color: black;
    }

    li.active:before {
      border: 1px solid #2541b2;
    }

    li.active:after {
      border-top: solid 1px #2541b2;
      border-bottom: solid 1px #2541b2;
    }

    li.inactive {
      color: grey;
    }

    li.inactive:hover {
      color: black;
    }
  }
}

.overview_navigation {
  margin-top: 10px;
}

.overview-header {
  min-height: 70px;
  background-color: #f6f7fa;
  padding-top: 7px;
  padding-bottom: 7px;

  .col {
    width: 95%
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    width: 24.5%;
    position: relative;
    text-align: center;
    z-index: 99;
    color: grey;
    font-weight: bolder;
  }

  li.active {
    color: black;
  }

  li.inactive {
    color: grey;
  }

  li.inactive:hover {
    color: black;
  }
}

.overview-top {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 50px;
  background-color: #2541b2;
  color: white;

  .overview-top-icon {
    margin-top: 0.7%;
  }

  .overview-top-button {
    margin-top: 0.4%;
  }

  .row {
    margin-bottom: 0;
  }

  a {
    color: white;
  }

  li {
    list-style: none;
    display: inline-block;
    width: 18.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    color: grey;
    font-weight: bold;
  }

  li:hover {
    color: #2541b2;
  }

  li.active {
    color: black;
  }

  li.inactive {
    color: grey;
  }

  li.inactive:hover {
    color: black;
  }
}

.overview-top.draft {
  background-color: #9e9e9e;
}

.overview-top.submitted {
  background-color: #f08e63;
}

.overview-top.approved {
  background: rgb(11, 215, 164);
}

.card {
  border-radius: 8px 8px 8px 8px;

  .card-title {
    font-size: medium;
    height: 55px;
    border-radius: 8px 8px 0px 0px;
    padding: 24px;
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .card-title.sent_financing_application {
    background: #f08e63;
  }

  .card-title.approved_financing_application {
    background: rgb(11, 215, 164);
  }

  .card-title.action_required_financing_application {
    background: #2541b2;
  }

  .card-title.draft_financing_application {
    background: rgb(220, 220, 222);
  }
}

.top-info-card {
  background-color: #2541b2;
  margin-bottom: 5%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid rgb(220, 220, 222);
  width: 80%;

  .row {
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 44px;
    color: white;
  }

}

nav {
  line-height: 50px;
  height: 75px;
  color: #2541b2;
  font-weight: bold;

  .nav-title {
    margin-top: 14px;
    padding-top: 0;
    padding-left: 20px;
  }
}

nav {
  .btn {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  }
}

nav {
  .btn.rounded {
    border-radius: 30px;
    //width: 120px;
    float: right;
    color: black;
    //background-color: rgb(129, 207, 219);
  }

  .btn.rounded:hover {
    background-color: #2541b2;
  }

  .btn.rounded.active {
    color: white;
  }

  .btn.rounded.inactive {
    background-color: white;
  }

  .btn.rounded.inactive:hover {
    background-color: #2541b2;
    color: white;
  }

  .top-navigation-icons {
    color: grey;
  }

  .top-navigation-icons:hover {
    color: #2541b2;
  }
}

.form-content .input-field input[type="submit"] {
  background: #2541b2;
}

.form-content .input-field input {
  border-radius: 5px;
}

.handex-btn {
  background-color: #2541b2;

}

.handex-btn:hover {
  background-color: #518fde; // rgb(37, 65, 178);
  color: white;
}

.handex-btn-positiv {
  background-color: #41bf93;
}

.handex-btn-logout {
  background-color: #41bf93;
  align-content: center;
  margin-left: 8%;
}

.handex-btn-positiv.btn {
  background-color: #41bf93;
}

.card {

}

.handex-big-btn {
  width: 100%;
}

.handex-nav-button {
  width: 30%;
}

.handex-nav-button:hover {
  background-color: #41bf93;
}

.handex-nav-icon {
  margin-top: 5px;
}

.handex-nav-logo {
  height: 27px;
}

.card.handex-medium {
  height: 310px;
}

.card.handex-huge {
  height: 410px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: rgb(24, 28, 39);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #2541b2;
}

.card.choice-card .card-action:last-child {
  border-top: 0;
  padding: 0;
}

.card .card-action:last-child {
  border-radius: 0 0 8px 8px;
}

.no-application-text {
  font-size: 25px;
  top: 10%;
  color: black;
  font-family: OpenSans-Regular, serif;
}

.card.choice-card .card-title {
  padding-left: 0;
  padding-top: 18px;
  display: inline-block;
  width: 100%;
  text-align: center;

  .title-text {
    font-size: 24px;
    padding: 5%;
  }

  img {
    display: block;
    height: 70px;
    margin: auto;
  }

  img.multi_image {
    height: 75px;
  }
}

.card-content {
  min-height: 30%;
  padding-bottom: 0;
}

.container {
  width: 90%;
}

.light-hint {
  color: grey;
}

nav ul a:hover {
  background-color: white;
}

.custom_icon {
  height: 20px;
  width: 20px;
  display: block;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-icon {
  background-image: image-url("Clock-Icon.svg");
}

.import-icon {
  background-image: image-url("Import-Icon.svg");
}

.box-icon {
  background-image: image-url("Box-Icon.svg");
}

.money-icon {
  background-image: image-url("Money-Icon.svg");
}

.notification-icon {
  background-image: image-url("Notification-Icon.svg");
}

.reciept-icon {
  background-image: image-url("reciept-icon.svg");
}

.send-icon {
  background-image: image-url("Send-Icon.svg");
}

.settings-icon {
  background-image: image-url("Settings-Icon.svg");
}

.sports-01 {
  background-image: image-url("sports-01.svg");
}

.user-icon {
  background-image: image-url("User-Icon.svg");
}

.check-icon {
  background-image: image-url("Check-Icon.svg");
}

.reciept-icon-white {
  background-image: image-url("reciept-icon-white.svg");
}

.no-application-icon {
  //color:#41bf93;
  //font-size: 110px;
  background-image: image-url("icon-no-application.svg");
}

.card.big-choice-card {
  margin: auto;
  width: 70%;
  height: 520px;

  .card-title {
    padding-top: 7%;
  }

  .card-action:last-child {
    height: 16%;
  }
}

.card.large-choice-card {
  margin: auto;
  width: 70%;
  height: 660px;

  .card-title {
    padding-top: 7%;
  }

  .card-action:last-child {
    height: 16%;
  }
}



.text-button {
  background-color: white;
  color: grey;
}

.text-button:hover {
  background-color: white;
  color: #2541b2;
}

.section {
  padding-top: 0.5em;
  width: 100%;
}

.section .overview {
  padding-top: 0.5em;
}

.section .no-application-section {
  color: black;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.background_toggle {
  width: 100%;
}

.background_toggle.dialog_background {
  display: inline-block;
  background: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 6px;
}

dialog_background {
  display: inline-block;
  background: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.handex-color-1 {
  background-color: white;
}

li .dot {
  position: absolute;
  left: 48.5%;
  top: 9%;
  height: 7px;
  width: 7px;
  background-color: #2541b2;
  border-radius: 50%;
  display: inline-block;
}

.dot.hidden {
  display: none;
}

.hidden {
  display: none;
}

.btn, .btn-large, .btn-small {
  color: #fff;
  background-color: #2541b2;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #598fe6;
}

.handex-form-container {
  background-color: white;
}

.input-field {
  margin-top: 0.7rem;
  margin-bottom: 0.1rem;
}

.input-field.inline {
  margin-left: 5px;
}

.input-field.inline input, .input-field.inline .select-dropdown {
  margin-bottom: 0.1rem;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  bottom: 8px;
}

.collection .collection-item {
  line-height: 3em;

}

.collection .collection-item:hover {
  //background-color: ;

}

.overview_header_value {
  color: black;
}

.tabs .tab:hover {
  //border: 1px solid rgb(220, 220, 222);
  border-radius: 3px;
  background-color: #ebebeb;
  font-weight: bolder;
}

.tabs .tab a {
  color: #518fde;
}

.tabs .tab a {
  color: grey;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: grey;
}

.tabs .indicator {
  background-color: #518fde;
}

.tabs .tab a.active {
  //border-bottom-left-radius: 12px;
  //border-bottom-right-radius: 12px;
  color: white;
  border-radius: 3px;
  background-color: #2541b2; //rgba(135,206,250, 0.3);
  font-weight: bolder;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #2541b2;
}

.secondary-content {
  color: black;
  font-weight: bolder;
}

.tabs .indicator {
  display: none;
}

.overview-item {
  color: grey;
  font-weight: bolder;
}

.visible_select {
  display: block;
}

.row .overview_navigation .s2 {
  width: 20%;
}

.overview_content {
  padding-top: 0.3%;
  background-color: white;
}

.h_centered {
  display: inline-flex;
  vertical-align: middle;
  margin: auto;
}

.brand-logo {
  margin-top: 15px;
  margin-left: 25px;
}

.input-field tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.add_fields {
  margin-top: 5px;
  min-width: 300px;
}

.remove_fields {
  margin-top: -9px;
}

.remove_fields_with_label {
  margin-top: 15px;
}

.handex_text_area {
  width: 100%;
  height: 100%;
}

.invite_importer {
  background-color: #2541b2;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.invite_importer_popup_heading {
  background-color: #2541b2;
  color: white;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.invite-importer-btn {
  background-color: #2d54ff;
  margin-top: 5%;
}

/* Import Portal Pop Up */
.form-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  z-index: 105;
  width: 40%;
  margin-left: 13%;
}

.form-content .input-field input {
  box-shadow: inset 0 0 4px #dcdcde;
  border: 1px solid #dcdcde;
}

.file-field input[type=file] {
  box-shadow: inset 0 0 4px #de3e6f;
  border: 1px solid #dcdcde;
}

counters {
  counter-reset: idx;
}

.nested-fields {
  counter-increment: idx;
}

.counter:before {
  content: counter(idx);
}

.nested-fields td {
  padding-left: 0;
  padding-right: 20px;
}

.explanation_field_in_multi_row {
  width: 55%;
}

.inline-icon {
  vertical-align: top;
  font-size: 18px !important;
}