body {
  background: #f6f7fa;

  .sign-in {
    padding-top: 10%;
    color: #000000;
  }

  .form-section {
    background: #fff;
    border-radius: 2px;

    .form-content {
      width: 75%;
      margin: 0 auto;
    }
  }
}

.custom-form {
  .input-field {
    label {
      position: relative;
      left: 0;
      top: -5px;
      color: #333;
      font-weight: 600;
    }
  }

  #submit {
    width: 100%;
    //background: #81cfdb;
    color: #fff;
    font-weight: 600;
  }
}

.form-content {
  .nopadding {
    padding-left: 0px;
  }

  .greybox {
    background: #ebebeb;
  }

  .input-field {
    input[type="submit"] {
      background: #47e1c1;
      color: #fff;
      border-radius: 3px;
    }

    label {
      position: relative;
      left: 0;
      top: -5px;
      color: #333;
      font-weight: 600;

      span {
        padding: 7px 35px;
        border: 1px solid #d6d0d0;
        font-weight: bold;
        height: auto !important;
      }

      span span {
        padding: 0;
        border: 0;
      }

      span.active-btn span {
        color: white;
      }

      span:before {
        opacity: 0;
      }

      span:after {
        opacity: 0;
      }

      .terms {
        border: 0px !important;
      }

      .terms:before {
        opacity: 1 !important;
      }
    }

    .custom-area {
      height: 120px !important;
    }

    .active-btn {
      span {
        color: #2541b2;
      }
    }

    input {
      border: 1px solid #dcdcde;
      -moz-box-shadow: inset 0 0 4px #dcdcde;
      -webkit-box-shadow: inset 0 0 4px #dcdcde;
      box-shadow: inset 0 0 4px #dcdcde;
    }

    textarea {
      border: 1px solid #dcdcde;
      -moz-box-shadow: inset 0 0 4px #dcdcde;
      -webkit-box-shadow: inset 0 0 4px #dcdcde;
      box-shadow: inset 0 0 4px #dcdcde;
    }
  }

  span.active-btn {
    background-color: #2541b2;
    color: white;
  }

  span.active-btn:hover {
     background-color: #dddddd;
     color: #2541b2;
   }

  select {
    display: block;
    margin-bottom: 10px;
  }

  .hide-section {
    display: none;
    background: #f9f9fa;
    padding: 15px 10px;
    margin-top: 30px;
  }

  .yes-no-btns {
    cursor: pointer;
    padding: 7px 35px;
  }

  .yes-no-btns:hover {
    color: #ffff;
    background-color: #2541b2;
  }

  .no-btn {
    cursor: pointer;
    height: 40px
  }

  .threecol {
    padding: 10px !important;
    border: 1px solid #eeeeee;
    min-height: 95px !important;
    margin: 10px;
    max-width: 30% !important;
  }
}

form.col.s12.custom-form {
  background: #fff;
  padding: 15px 15px 0;
  border-radius: 5px;
}

.form-section {
  .form-nav-top {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
  }

  .step-2, .step-3, .step-4, .step-5 {
    display: none;
  }
}

.form-nav {
  h2 {
    color: #2541b2;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 0px;
    text-align: center;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0px;
  }

  span {
    font-size: 10px;
    font-weight: bold;
    height: 35px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 20px;
  }

  p {
    margin: 0;
  }

  a {
    font-size: 10px;
    font-weight: bold;
    color: #333;
    height: 35px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #333;
    padding: 10px 15px;
    border-radius: 2px;
  }

  .next {
    background: #2541b2;
    border-color: #2541b2;
    color: #fff;
    padding: 11px 15px;
    cursor: pointer;
    border-radius: 3px;
  }

  .next:hover {
    background: #2541b2;
    border-color: #2541b2;
  }
}

.form-progress {
  background: #f6f7fa;

  .progressbar {
    counter-reset: step;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 25px;
    height: 75px;
    padding: 15px;

    li {
      list-style: none;
      display: inline-block;
      width: 18.33%;
      position: relative;
      text-align: center;
      cursor: pointer;
      z-index: 99;
      color: grey;
      font-weight: bold;
    }

    li:hover {
      color: #2541b2;
    }

    li:before {
      content: " ";
      counter-increment: step;
      width: 15px;
      height: 15px;
      line-height: 30px;
      border: 1px solid #ddd;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      //margin-left: 0;
      background-color: #fff;
      //z-index: -1;
    }

    li:after {
      content: '';
      width: 96.5%;
      border-top: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
      position: absolute;
      left: -49%;
      z-index: 0;
      height: 5px;
      top: 11%;
      background-color: white;
    }

    li:before:hover {
      background: #2541b2;
    }

    li:first-child:after {
      content: none;
    }

    li.active {
      color: black;
    }

    li.inactive {
      color: grey;
    }

    li.inactive:hover {
      color: black;
    }
  }
}

.overview-header {
  counter-reset: step;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 25px;
  height: 75px;
  padding: 15px;

  li {
    list-style: none;
    display: inline-block;
    width: 18.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    color: grey;
    font-weight: bold;
  }

  li:hover {
    color: #2541b2;
  }

  li.active {
    color: black;
  }

  li.inactive {
    color: grey;
  }

  li.inactive:hover {
    color: black;
  }
}

.card {
  .card-title {
    font-size: medium;
    height: 55px;
    border-radius: 3px 3px 0px 0px;
    padding: 24px;
  }

  .card-title.sent_financing_application {
    background: rgb(129, 207, 219);
  }

  .card-title.approved_financing_application {
    background: rgb(11, 215, 164);
  }

  .card-title.action_required_financing_application {
    background: rgb(239, 131, 84)
  }

  .card-title.draft_financing_application {
    background: rgb(220, 220, 222);
  }
}

.top-info-card {
  background-color: #2541b2;
  margin-bottom: 5%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid rgb(220, 220, 222);
  width: 80%;

  .row {
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 44px;
    color: white;
  }


}

nav {
  line-height: 70px;
  height: 75px;
  color: #2541b2;
  font-weight: bold;

  .nav-title {
    padding-top: 0;
    padding-left: 20px;
  }
}

nav {
  .btn {
    float: right;
    margin-top: 25px;
    margin-right: 30px;
  }
}

nav {
  .btn.rounded {
    border-radius: 30px;
    width: 120px;
    float: right;
    color:black;
    //background-color: rgb(129, 207, 219);
  }

  .btn.rounded:hover {
    background-color: #2541b2;
  }

  .btn.rounded.active {
    color: white;
  }
  .btn.rounded.inactive {
    background-color: white;
  }

  .btn.rounded.inactive:hover {
    background-color: #2541b2;
    color:white;
  }

  .top-navigation-icons {
    color: grey;
  }

  .top-navigation-icons:hover {
    color: #2541b2;
  }
}

.form-content .input-field input[type="submit"] {
  background: #2541b2;
}

.handex-btn {
  background-color: #2541b2;

}

.handex-btn:hover {
  background-color: #518fde; // rgb(37, 65, 178);
  color:white;
}

.handex-btn-positiv {
  background-color: #41bf93;
}

.handex-btn-positiv.btn {
  background-color: #41bf93;
}







.active_selection_card {
  background-color: #41bf93;
  color: white;
}

.active_selection_card > label.active_selection_card_label {
  background-color: #41bf93;
  color: white;
}

.active_selection_card:hover {
  background-color: #41bf93;
  color: white;
}

.active_selection_card:active {
  background-color: #41bf93;
  color: white;
}

.handex-big-btn {
  width: 100%;
}

.handex-nav-button {
  width: 30%;
}

.handex-nav-button:hover {
  background-color: #41bf93;
}

.handex-nav-icon {
  margin-top: 5px;
}

.handex-nav-logo {
  height: 27px;
}

.card.handex-medium {
  height: 310px;
}

.card.handex-huge {
  height: 410px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: rgb(24, 28, 39);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #2541b2;
}

.card.choice-card .card-action:last-child {
  border-top: 0;
  padding: 0;
}

.no-application-text {
  font-size:40px;
  top:10%;
  color:black;
  font-family:'Helvetica Neue';
}

.card.choice-card .card-title {
  padding-left: 0;
  padding-top: 18px;
  display: inline-block;
  width: 100%;
  text-align: center;

  .title-text {
    font-size: 24px;
    padding: 5%;
  }



  img {
    display: block;
    height: 70px;
    margin: auto;
  }

  img.multi_image {
    height: 75px;
  }
}

.card-content {
  min-height: 30%;
  padding-bottom: 0;
}

.container {
  width: 90%;
}

.light-hint {
  color: grey;
}

nav ul a:hover {
  background-color: white;
}

.custom_icon {
  height: 20px;
  width: 20px;
  display: block;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.clock-icon {
  background-image: image-url("Clock-Icon.svg");
}




.import-icon {
  background-image: image-url("Import-Icon.svg");
}

.box-icon {
  background-image: image-url("Box-Icon.svg");
}

.money-icon {
  background-image: image-url("Money-Icon.svg");
}

.notification-icon {
  background-image: image-url("Notification-Icon.svg");
}

.reciept-icon {
  background-image: image-url("reciept-icon.svg");
}

.send-icon {
  background-image: image-url("Send-Icon.svg");
}

.settings-icon {
  background-image: image-url("Settings-Icon.svg");
}

.sports-01 {
  background-image: image-url("sports-01.svg");
}

.user-icon {
  background-image: image-url("User-Icon.svg");
}

.check-icon {
  background-image: image-url("Check-Icon.svg");
}

.reciept-icon-white {
  background-image: image-url("reciept-icon-white.svg");
}

.no-application-icon {
  //color:#41bf93;
  //font-size: 110px;
  background-image: image-url("icon-no-application.svg");
}

.card.big-choice-card {
  margin: auto;
  width: 70%;
  height: 460px;

  .card-title {
    padding-top: 7%;
  }

  .card-action:last-child {
    height: 16%;
  }
}

.text-button {
  background-color: white;
  color: grey;
}

.text-button:hover {
  background-color: white;
  color: #2541b2;
}

.section {
   padding-top: 0.5em;
}

.section .no-application-section {
  color:black;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.background_toggle {
  width: 100%;
}

.background_toggle.dialog_background {
  margin-top: 5px;
  background: #ebebeb;
}

.handex-color-1 {
 background-color: white;
  //background-color: black;
}

li .dot {
  position: absolute;
  left: 48.5%;
  top: 9%;
  height: 7px;
  width: 7px;
  background-color: #2541b2;
  border-radius: 50%;
  display: inline-block;
}

.dot.hidden {
  display: none;
}

.hidden {
  display: none;
}

.btn, .btn-large, .btn-small {
  color: #fff;
  background-color: #2541b2;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #598fe6;
}

.handex-form-container {
  background-color: white;
}

.input-field {
  margin-top: 0.7rem;
  margin-bottom: 0.1rem;
}

.input-field.inline {
  margin-left: 5px;
}

.input-field.inline input, .input-field.inline .select-dropdown {
  margin-bottom: 0.1rem;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  bottom: 8px;
}

.collection .collection-item {
  line-height: 3em;
}