<p id="notice"><%= notice %></p>
<h1 class="text-center" style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;">Zusammenfassung</h1>
<br><br>

<% panel_names = ["summary_important_first", "summary_financing", "summary_business_information", 'summary_importer_information', 'summary_important_at_end'] %>
<% panel_headings = ["Das wichtigste zuerst", "Ihre Finanzierung", 'Ihr Geschäft', 'Ihr Kunde', 'Notwendiges zum Schluss'] %>

<div class='row'>
    <% panel_names.zip(panel_headings).each do |panel_name, panel_title| %>
        <div class='col-md-8 col-md-offset-2'>
            <div class="panel panel-default">
                <div class="panel-heading" style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;">
                    <%= panel_title %>
                </div>

                <div class="panel-body">
                    <%= form_with(model: @insurance, local: true) do |form| %>
                        <%= render partial: "insurances/summary/user/#{panel_name}.html.erb", locals: {insurance: @insurance, form: form} %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>