<h1>Editing Overall Project Financing Detail</h1>

<%= render 'form', overall_project_financing_detail: @overall_project_financing_detail %>

<%= link_to 'Show', @overall_project_financing_detail %> |
<%= link_to 'Back', overall_project_financing_details_path %>
