<tr class="nested-fields">

    <td>
        <div> <%= f.text_field :payment_relevant_information, class: "validate", placeholder: t('payment_relevant_date') %> </div>
    </td>

    <td>
        <%= f.text_field :payment_relevant_milestone, id: "start_date", autofocus: true, type: "date", class: "datepicker", placeholder: t('milestone') %>
    </td>

    <td>
        <%= link_to_remove_association t('clear'), f, class: 'btn btn-primary btn-xs' %>
    </td>

</tr>